<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item is-tab" ui-sref="article({ filter: 'all' })" ng-class="{'is-active': filter === 'all'}">
        Tous
      </a>
      <a class="nav-item is-tab " ui-sref="article({ filter: 'standard' })" ng-class="{'is-active': filter === 'standard'}">
        Articles
      </a>
      <a class="nav-item is-tab " ui-sref="article({ filter: 'video' })" ng-class="{'is-active': filter === 'video'}">
        Vidéos
      </a>
      <a class="nav-item is-tab " ui-sref="article({ filter: 'album' })" ng-class="{'is-active': filter === 'album'}">
        Photos
      </a>
    </div>
    <div class="nav-right">
      <a class="nav-item is-tab button is-primary blog-add" ui-sref="article.create">
        <span class="icon is-small">
          <i class="fa fa-plus"></i>
        </span>
        <span>
          Ajouter
        </span>
      </a>
    </div>
  </div>
</nav>

<div class="container">
  <div class="columns bottom-50 margin-top-10">
    <div class="column is-8">

      <div class="container margin-top-20" ng-if="articles.length === 0">
        <div class="notification">
          Il n'y a aucun article.
        </div>
      </div>

      <lcs-blog-post ng-repeat="article in articles"
                     ng-if="articles.length > 0"
                     type="{{ article.type || 'standard' }}"
                     class="box blog">
      </lcs-blog-post>
    </div>

    <div class="column is-4">
      <div class="box trending">
        <p class="trend-title">
          <span class="title is-5">
            Les catégories
          </span>
        </p>
        <span ng-repeat="category in categories" class="tag">
          {{ category.value }}
        </span>
      </div>

      <div class="box">
        <p>
          <span class="title is-5">Ceux qui postent le plus</span>
          <a href="#" class="user-link">Voir tous le monde</a>
        </p>
        <hr>
        <div ng-repeat="user in users | limitTo: 5 " class="columns">
          <div class="column is-marginless">
            <div class="image is-64x64">
              <img ng-src="{{ user.getAvatar(80, 80) }}">
            </div>
          </div>
          <div class="column is-9">
            <p class="user-title">
              <a href="#">
                <strong>{{ user.username }}</strong>
              </a>
            </p>
            <p>
              <a class="is-small">
                <span class="subtitle is-6">
                  125 publications
                </span>
              </a>
            </p>
            <p class="small-margin-top">
              <a class="button is-light is-small">
                <span class="icon is-small">
                  <i class="fa fa-vcard"></i>
                </span>
                <span>
                  Voir le profile
                </span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
