<div class="voteButtons">
  <a ng-click="updateContent()" class="button blog-add" ng-disabled="article.user._id !== currentUser._id">
    <span class="icon is-small">
      <i class="fa fa-pencil"></i>
    </span>
    <span>
      Modifier
    </span>
  </a>
  <a ng-click="removeContent()" class="button blog-add" ng-disabled="article.user._id !== currentUser._id">
    <span class="icon is-small">
      <i class="fa fa-remove"></i>
    </span>
    <span>
      Supprimer
    </span>
  </a>
</div>

<article class="container margin-top-20">
  <div class="box bottom-50">
    <button class="delete pull-right" ui-sref="article.list"></button>

    <section>
      <a>
        <div class="margin-top-10">
          <img class="margin-top-10" ng-if="article.image !== null" alt="{{ article.title }}" ng-src="{{ article.image + '?dim=800x250' }}"/>
        </div>
        <div class="blog-title-detail">
          {{article.title}}
        </div>
      </a>
      <h2 class="blog-subtitle-detail margin-top-20">
        <i class="fa fa-clock-o font-small"></i>
        {{ article.getDateFrom() }}
      </h2>
      <div class="blogUserDetail center margin-top-10">
        <img ng-src="{{ article.user.getAvatar(80, 80) }}" title="{{ article.user.username }}">
      </div>
    </section>

    <section class="media margin-top-20">
      <div class="media-content">
        <div class="content">
          <span ng-repeat="category in article.categories track by $index" title="{{ category }}" class="tag articleTag">
            {{ category }}
          </span>
        </div>

        <div class="content blogContent">
          <div ng-bind-html="article.getContent()"></div>
        </div>
      </div>
    </section>

    <section class="blog-user-section margin-top-20">
      <lcs-comment object="article" class="lcs-comment"></lcs-comment>
    </section>
  </div>
</article>
