<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-right">
      <a class="nav-item is-tab button is-primary blog-add" ui-sref="vote.create">
        <span class="icon is-small">
          <i class="fa fa-plus"></i>
        </span>
        <span>
          Ajouter
        </span>
      </a>
    </div>
  </div>
</nav>

<div class="container">
  <div class="columns">
    <div class="column is-12">

      <div class="container margin-top-20" ng-if="votes.length === 0">
        <div class="notification">
          Il n'y a aucun vote en ce moment.
        </div>
      </div>

      <div class="masonry">
        <div ng-repeat="vote in votes | orderBy: '-created'" ng-if="votes.length > 0" class="masonry-child">
          <div class="box">
            <div class="voteEndDate">
              Fin des débats {{ vote.getDays() }}
            </div>
            <div class="voteContainer box" ng-if="!vote.hasUserAnswered(currentUser._id)">
              <figure class="image voteCircle">
                <div class="mask-a">
                  <div class="hand" ng-click="addVote(vote, 1)">
                  </div>
                  <div class="hand-1" ng-click="addVote(vote, 2)">
                  </div>
                  <div class="hand-2" ng-click="addVote(vote, 3)">
                  </div>
                </div>
              </figure>
            </div>
            <div ng-if="vote.hasUserAnswered(currentUser._id)" class="vote_ended">
              <img src="/assets/images/vote_ended.jpg"/>
            </div>
            <div class="voteCardContent">
              <div class="content margin-top-20">
                {{ vote.content }}
                <br>
              </div>
              <div class="authorSectionContainer">
                <span class="voteSectionTitle">
                  Lancé par
                </span>
                <div class="authorContent">
                  <span class="user-image">
                    <div class="user-image--image">
                      <div>
                        <img ng-src="{{ vote.user.getAvatar(40,40) }}" height="40" width="40">
                      </div>
                    </div>
                  </span>
                  <a class="authorContent-name" href="#">
                    {{vote.user.username}}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
