<div class="container">
  <div class="columns">
    <div class="column is-12">
      <div class="nav menu">
        <div class="container">
          <div class="nav-left">
            <a class="nav-item is-tab button is-primary blog-add" ui-sref="vote.create">
              <span class="icon is-small">
                <i class="fa fa-plus"></i>
              </span>
              <span>
                Ajouter
              </span>
            </a>
          </div>
          <div class="nav-right is-hidden-mobile">
            <nav class="level">
              <!-- Left side -->
              <div class="nav-item is-tab">
                <p class="is-light">
                  Filtrer par:
                </p>
              </div>
              <div class="level-right">
                <p class="level-item">
                  <a ui-sref="vote({ filter: 'all' })" ng-class="{'is-current': filter === 'all'}">
                    Tous
                  </a>
                </p>
                <p class="level-item">
                  <a ui-sref="vote({ filter: 'waiting' })" ng-class="{'is-current': filter === 'waiting'}">
                    Tu dois voter
                  </a>
                </p>
                <p class="level-item">
                  <a ui-sref="vote({ filter: 'done' })" ng-class="{'is-current': filter === 'done'}">
                    En attente
                  </a>
                </p>
              </div>
            </nav>
          </div>
        </div>
      </div>

      <div class="container margin-top-20" ng-if="votes.length === 0">
        <div class="notification">
          Il n'y a aucun vote en ce moment.
        </div>
      </div>

      <div deckgrid class="deckgrid" source="votes" ng-if="votes.length > 0">
        <div class="card">
          <div class="card-image voteContainer">
            <figure class="image voteCircle" ng-if="!card.hasUserAnswered(mother.currentUser._id)">
              <div class="mask-a">
                <div class="hand" ng-click="mother.vote(card, 1);">
                </div>
                <div class="hand-1" ng-click="mother.vote(card, 2);">
                </div>
                <div class="hand-2" ng-click="mother.vote(card, 3);">
                </div>
              </div>
            </figure>
            <figure ng-if="card.hasUserAnswered(mother.currentUser._id)">
              A voté
            </figure>
          </div>
          <div class="voteCardContent">
            <div class="voteEndDate">
              Fin des débats {{ card.getDays() }}
            </div>
            <div class="content margin-top-20">
              {{ card.content }}
              <br>
            </div>
            <div class="authorSectionContainer">
              <span class="voteSectionTitle">
                Lancé par
              </span>
              <div class="authorContent">
                <span class="user-image">
                  <div class="user-image--image">
                    <div>
                      <img ng-src="{{ card.user.getAvatar(40,40) }}" height="30" width="30">
                    </div>
                  </div>
                </span>
                <a class="authorContent-name" href="#">
                  {{card.user.username}}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
