<div class="container">
	<div class="columns">
		<div class="column is-6">
			<label class="label">URL de la vidéo</label>
			<p class="control has-icon has-icon-right">
				<input class="input is-danger" type="text" placeholder="Url" ng-model="url">
				<i class="fa fa-warning ng-hide" ng-show="showError"></i>
				<span class="help is-danger ng-hide" ng-show="showError">Ca marche pas</span>
			</p>
			<hr/>
			<label class="label">Titre</label>
			<p class="control">
				<input class="input" type="text" placeholder="Titre">
			</p>
			<label class="label">Description</label>
			<p class="control">
				<textarea class="textarea" placeholder="Description"></textarea>
			</p>
			<p class="control">
				<button class="button is-primary" ng-disabled="!canCreate">Créer</button>
				<button class="button" ng-click="testVideo()">Tester la vidéo</button>
				<button class="button is-link">Annuler</button>
			</p>
		</div>
		<div class="column is-6">
			<videogular vg-player-ready="onPlayerReady($API)" vg-error="onError($event)" vg-theme="config.theme">
				<vg-media vg-src="config.sources" vg-tracks="config.tracks">
				</vg-media>

				<vg-controls>
					<vg-play-pause-button></vg-play-pause-button>
					<vg-time-display>
						{{ currentTime | date:'mm:ss' }}
					</vg-time-display>
					<vg-scrub-bar>
						<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
					</vg-scrub-bar>
					<vg-time-display>
						{{ timeLeft | date:'mm:ss' }}
					</vg-time-display>
					<vg-volume>
						<vg-mute-button>
						</vg-mute-button>
						<vg-volume-bar>
						</vg-volume-bar>
					</vg-volume>
					<vg-fullscreen-button>
					</vg-fullscreen-button>
				</vg-controls>

				<vg-overlay-play></vg-overlay-play>
				<vg-poster vg-url="config.plugins.poster"></vg-poster>
			</videogular>
		</div>
	</div>
</div>
