.DS_Store
.idea
npm-debug.log

server/public/video/*
server/public/img/users/*
server/public/.cache/crop/
server/public/.tmp/*
node_modules
scripts/production
dist
stats.json

# exception to the rule
!server/public/video/.gitkeep
!server/public/img/users/.gitkeep
!server/public/.cache/crop/300/img/users/.gitkeep
!server/public/.tmp/.gitkeep
