<div class="container profile">
  <div class="section profile-heading">
    <div class="columns">
      <div class="column is-2">
        <div class="image is-128x128 avatar">
          <img ng-src="{{ user.getAvatar(300,300) }}" alt="Image"/>
          <div class="spacer"></div>
          <div class="button is-primary is-outlined" ngf-select="upload(files)" ng-model="file" ngf-multiple="false" accept="image/*,">
            Changer la photo
          </div>
        </div>
      </div>
      <div class="column is-4 name">
        <p>
          <span class="title is-bold">{{ user.username }}</span>
        </p>
        <p class="tagline">{{ user.presentation || "Rentre un petit mot de présentation pour les copaings" }}</p>
      </div>
      <div class="column is-3 following has-text-centered">
        <p class="stat-val">{{ user.articles.length }}</p>
        <p class="stat-key">Articles</p>
      </div>
      <div class="column is-3 following has-text-centered">
        <p class="stat-val">{{ user.userEvents.length }}</p>
        <p class="stat-key">Evènements</p>
      </div>
    </div>
  </div>
  <div class="profile-options">
    <div class="tabs is-fullwidth">
      <ul>
        <li class="link is-active">
          <a>
            <span class="icon"><i class="fa fa-vcard"></i></span>
            <span>Editer mon profil</span>
          </a>
        </li>
        <li class="link">
          <a ui-sref="publication">
            <span class="icon"><i class="fa fa-file-text-o"></i></span>
            <span>Voir mes publications</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="container section bottom-50">
    <div class="columns">
      <div class="column is-6">
        <div>
          <h1 class="title">
            Mes infos de compte
          </h1>
        </div>
        <div class="margin-top-20">
          <label class="label">Nom d'utilisateur</label>
          <p class="control">
            <input class="input"
            type="text"
            placeholder="Nom d'utilisateur"
            ng-model="user.username">
          </p>

          <label class="label">Email</label>
          <p class="control">
            <input class="input"
            type="text"
            placeholder="Email"
            ng-model="user.email">
          </p>

          <label class="label">Le petit mot aux copaings</label>
          <p class="control">
            <textarea class="textarea"
            type="text"
            placeholder="Le petit mot aux copaings"
            ng-model="user.presentation">
          </textarea>
          </p>
        </div>
      </div>
      <div class="column is-6">
        <div>
          <h1 class="title">
            Changer de mot de passe
          </h1>
        </div>

        <div class="margin-top-20">
          <label class="label">Ancien mot de passe</label>
          <p class="control">
            <input class="input"
            type="text"
            placeholder="●●●●●●●"
            ng-model="user.oldPassword">
          </p>

          <label class="label">Nouveau mot de passe</label>
          <p class="control">
            <input class="input"
            type="text"
            placeholder="●●●●●●●"
            ng-model="user.newPassword">
          </p>
        </div>
      </div>
    </div>
    <span class="pull-rigth button is-primary" ng-click="update()">
      Sauvegarder
    </span>
  </div>
</div>
