<div class="voteButtons nav menu margin-top-20">
    <a ng-click="updateContent()" class="nav-item is-tab is-action" ng-disabled="article.user._id !== currentUser._id">
        <span class="icon-btn">
            <i class="fa fa-pencil"></i>
        </span>
        &nbsp;
        Modifier
    </a>

    <a ng-click="removeContent()" class="nav-item is-tab is-action" ng-disabled="article.user._id !== currentUser._id">
        <span class="icon-btn">
            <i class="fa fa-trash"></i>
        </span>
        &nbsp;Supprimer
    </a>
</div>

<article class="container margin-top-20">
  <div class="box bottom-50">

    <button class="delete pull-right" ui-sref="article.list"></button>

    <section>
      <a>
        <div class="margin-top-10">
          <img class="margin-top-10" ng-if="article.image !== null" alt="{{ article.title }}" ng-src="{{ article.image + '?dim=800x250' }}"/>
        </div>
        <div class="blog-title-detail">
          {{article.title}}
        </div>
      </a>
      <h2 class="blog-subtitle-detail margin-top-20">
        <i class="fa fa-clock-o font-small"></i> {{ article.getDateFrom() }}
      </h2>
      <div class="blogUserDetail center margin-top-10">
        <img ng-src="{{ article.user.getAvatar(80, 80) }}" title="{{ article.user.username }}">
      </div>
    </section>

    <section class="media">
      <div class="media-content center">
        <div class="content">
          <span ng-repeat="category in article.categories track by $index" title="{{ category }}" class="tag articleTag">
            {{ category }}
          </span>
        </div>
      </div>
    </section>

    <section class="margin-top-10">

      <!-- Include iframe of video -->
      <div class="aspect-ratio" ng-if="article.isEmbed">
        <iframe ng-src="{{ article.getVideoLink() }}" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen="true">
        </iframe>
      </div>

      <!-- OR video uploaded by user -->
      <videogular ng-if="!article.isEmbed" class="videogularFullWidth">
        <vg-media vg-src="article.sources" vg-youtube="rel=1;showinfo=1">
        </vg-media>
        <vg-controls>
          <vg-play-pause-button></vg-play-pause-button>
          <vg-time-display>
            {{ currentTime | date:'HH:mm:ss':'+0000' }}
          </vg-time-display>
          <vg-scrub-bar>
            <vg-scrub-bar-current-time>
            </vg-scrub-bar-current-time>
          </vg-scrub-bar>
          <vg-time-display>
            {{ API.totalTime | date:'HH:mm:ss':'+0000' }}
          </vg-time-display>
          <vg-volume>
            <vg-mute-button>
            </vg-mute-button>
            <vg-volume-bar>
            </vg-volume-bar>
          </vg-volume>
          <vg-fullscreen-button>
          </vg-fullscreen-button>
        </vg-controls>
        <vg-overlay-play></vg-overlay-play>
      </videogular>
    </section>

    <section class="margin-top-20" ng-if="article.description">
      <p>
        {{article.description}}
      </p>
    </section>

    <section class="blog-user-section margin-top-20">
      <lcs-comment object="article" class="lcs-comment"></lcs-comment>
    </section>
  </div>
</article>
