<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-right">
      <a ng-click="updateContent()" class="button blog-add" ng-disabled="article.user._id !== currentUser._id">
        <span class="icon is-small">
          <i class="fa fa-pencil"></i>
        </span>
        <span>
          Modifier
        </span>
      </a>
      <a ng-click="removeContent()" class="button is-danger blog-add" ng-disabled="article.user._id !== currentUser._id">
        <span class="icon is-small">
          <i class="fa fa-remove"></i>
        </span>
        <span>
          Supprimer
        </span>
      </a>
    </div>
  </div>
</nav>

<div class="container margin-top-20">
  <div class="box bottom-50">
    <p>
      <strong>
        <i class="fa fa-clock-o font-small pull-left"></i> <small class="pull-left">{{ article.getDateFrom() }}</small>
      </strong>
    </p>
    <button class="delete pull-right" ui-sref="article({ filter: article.type })"></button>
    <div class="blog-title-detail ellipsis">{{article.title}}</div>
    <article class="media margin-top-20">
      <div class="media-content">
        <div class="content">
          <div class="content">
            <span ng-repeat="category in article.categories" title="{{ category }}" class="tag articleTag">
              {{ category }}
            </span>
            <span ng-if="article.categories.length === 0" class="tag">
              Aucune catégorie associée
            </span>
          </div>

          <div class="content">
            <div ng-bind-html="article.getContent()"></div>
          </div>
        </div>
      </div>
    </article>

    <section class="blog-user-section margin-top-20">
      <div class="authorSectionContainer">
        <span class="authorSectionTitle">
          Créé par
        </span>
        <div class="authorContent small-margin-top">
          <span class="user-image">
            <div class="user-image--image">
              <div>
                <img ng-src="{{ article.user.getAvatar(40,40) }}" width="40" height="40">
              </div>
            </div>
          </span>
          <a class="authorContent-name" href="#">
            {{article.user.username}}
          </a>
        </div>
      </div>

      <lcs-comment object="article" class="lcs-comment"></lcs-comment>
    </section>
  </div>
</div>
