<div class="margin-top-20 bottom-20">
  <div class="container margin-top-20">
    <div class="pull-right">
      <a class="button is-primary" ui-sref="about.issue.create">
        <span class="icon is-small">
          <i class="fa fa-plus"></i>
        </span>
        &nbsp;Ajouter
      </a>
    </div>
    <p>Si vous voulez allez voir le code et l'historique des bugs corrigés c'est par ici:<br/>
      <a href="https://github.com/alexrosepizant/lcs-app" target="_blank">
        https://github.com/alexrosepizant/lcs-app
      </a>
    </p>
    <br>

    <table class="table is-bordered is-striped">
      <thead>
        <tr>
          <th class="mobile-hide">
            <abbr title="Score">Auteur</abbr>
          </th>
          <th class="mobile-hide">
            <abbr title="Score">Type</abbr>
          </th>
          <th>
            <abbr title="Date">Description</abbr>
          </th>
          <th>
            <abbr title="Match">Pour</abbr>
          </th>
          <th>
            <abbr title="Match">Statut</abbr>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="idea in ideas | orderBy: '-created'">
          <th class="mobile-hide">
            <img class="margin-top-10" ng-src="{{ idea.user.getAvatar(40,40) }}" height="40" width="40">
          </th>
          <th class="mobile-hide">
            <span class="tag margin-top-10" ng-repeat="categorie in idea.categories">
              {{ categorie }}
            </span>
          </th>
          <th>
            {{ idea.description }}
          </th>
          <th>
            <a ng-click="addLike($index)">+{{idea.like}}</a>
          </th>
          <th>
            <span class="select">
              <select
              ng-model="idea.status"
              ng-change="updateIdea(idea);"
              ng-options="option.id as option.name for option in options">
              </select>
            </span>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
