<section class="container">
  <div class="columns">
    <div class="column is-3 margin-top-20">
      <aside class="menu">
        <p class="menu-label">
          Le site
        </p>
        <ul class="menu-list">
          <li>
            <a class="is-active">Les bugs</a>
          </li>
          <li>
            <a>Changements de versions</a>
          </li>
        </ul>
      </aside>
    </div>

    <div class="column is-9">
      <div class="margin-top-20 bottom-20">
        <div class="container">
          <div>
            <button class="button is-primary pull-right" ui-sref="about.create">
              <span class="icon is-small">
                <i class="fa fa-plus"></i>
              </span>
              &nbsp;Ajouter
            </button>
          </div>
          <br>

          <table class="table">
            <thead>
              <tr>
                <th>
                  <abbr title="Score">Auteur</abbr>
                </th>
                <th>
                  <abbr title="Score">Type</abbr>
                </th>
                <th>
                  <abbr title="Date">Description</abbr>
                </th>
                <th>
                  <abbr title="Match">Pour</abbr>
                </th>
                <th>
                  <abbr title="Match">Statut</abbr>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="idea in ideas | orderBy: '-created'">
                <th>
                  <img class="margin-top-10" ng-src="{{ idea.user.getAvatar(40,40) }}" height="40" width="40">
                </th>
                <th>
                  <span class="tag margin-top-10" ng-repeat="categorie in idea.categories">
                    {{ categorie }}
                  </span>
                </th>
                <th>
                  {{ idea.description }}
                </th>
                <th>
                  <a ng-click="addLike($index)">+{{idea.like}}</a>
                </th>
                <th>
                  {{ idea.status || 'En cours' }}
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
