<div class="container">
  <div class="columns">

    <div class="column is-3">
      <div class="card is-fullwidth">
        <header class="card-header">
        </header>
        <div class="home-user card-content">
          <a class="card-avatar">
            <img ng-src="{{ currentUser.getAvatar(80, 80)}}"
                 class="card-avatar-img" />
          </a>
          <div class="card-user">
            <div class="card-user-name">
              <a href="#">
                {{ currentUser.username }}
              </a>
            </div>
          </div>
          <div class="card-stats">
            <ul class="card-stats-list">
              <li class="card-stats-item">
                <a href="#" title="9.840 Tweet">
                  <span class="card-stats-key">Tweets</span>
                  <span class="card-stats-val">1</span>
                </a>
              </li>
              <li class="card-stats-item">
                <a href="#/following" title="885 Following">
                  <span class="card-stats-key">Following</span>
                  <span class="card-stats-val">0</span>
                </a>
              </li>
              <li class="card-stats-item">
                <a href="#">
                  <span class="card-stats-key">Followers</span>
                  <span class="card-stats-val">0</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-6">
      <div class="box">
        <h2>A la une</h2>
      </div>
    </div>

    <div id="live-chat">
  		<header class="clearfix">
  			<button class="delete close chat-close" ng-click="dismiss()"></button>
        <div class="user-chat-container">
          <img ng-repeat="user in (filteredUsers = users | filterConnectedUser:this | limitTo: 6)"
               ng-src="{{ user.getAvatar(30,30)}}"
               title="{{ user.username }}"
               class="img-chat"
               alt="Image" />
          <h4 ng-if="(users | filterConnectedUser:this).length === 0">
            Personne n'est connecté
          </h4>
        </div>
  			<span class="chat-message-counter">3</span>
  		</header>
  		<div class="chat">
  			<div scroll-glue class="chat-history">
  				<div ng-repeat="message in messages"
               class="chat-message clearfix">
  					<div ng-class="{'is-mention' : message.getMention(currentUser.username)}"
                 class="clearfix">
  						<span class="chat-time">{{ message.created | date:'H:mm' }}</span>
  						<strong>{{ message.getUsername() }}</strong>
  						<p>{{ message.content }}</p>
  					</div>
  				</div>
  			</div>
  			<form>
          <p class="control has-icon has-icon-right">
            <textarea class="textarea textareaChat"
                   ng-model="message.content"
                   ng-enter="sendMessage()"
                   placeholder="Entre ton message…"
                   autofocus>
            </textarea>
            <i class="fa fa-send"></i>
          </p>
  			</form>
  		</div>
	</div>

    <div class="column is-3">
      <div class="box">
        Agenda
      </div>
    </div>
  </div>
</div>
