<div class="container">
  <div class="columns">

    <div class="column is-3">
      <div class="card is-fullwidth">
        <header class="card-header">
        </header>
        <div class="home-user card-content">
          <a class="card-avatar">
            <img ng-src="{{ currentUser.getAvatar(80, 80)}}"
                 class="card-avatar-img" />
          </a>
          <div class="card-user">
            <div class="card-user-name">
              <a href="#">
                {{ currentUser.username }}
              </a>
            </div>
          </div>
          <div class="card-stats">
            <ul class="card-stats-list">
              <li class="card-stats-item">
                <a href="#" title="9.840 Tweet">
                  <span class="card-stats-key">Tweets</span>
                  <span class="card-stats-val">1</span>
                </a>
              </li>
              <li class="card-stats-item">
                <a href="#/following" title="885 Following">
                  <span class="card-stats-key">Following</span>
                  <span class="card-stats-val">0</span>
                </a>
              </li>
              <li class="card-stats-item">
                <a href="#">
                  <span class="card-stats-key">Followers</span>
                  <span class="card-stats-val">0</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-6">
      <div class="box">
        <article class="media">
          <div class="media-content">
            <p class="control">
              <textarea ng-model="message.content"
                        class="textarea textareaChat"
                        placeholder="Ecrire une connerie aux copaings">
              </textarea>
            </p>
            <p class="control">
              <button class="button" ng-click="sendMessage()">Poster</button>
            </p>
          </div>
        </article>
        <article ng-repeat="message in messages"
                 ng-class="{'is-mention' : message.user.getMention(message.content)}">
          <div class="media-content">
            <div style="width: 100%;">
              <small class="pull-right">{{ message.getDateFrom() }}</small>
            </div>
            <br/>
            <div class="content">
              <p>
                <strong>{{ message.getUsername() }}</strong>
                {{ message.content }}
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>

    <div class="column is-3">
      <div class="box">
        <div ng-repeat="user in users"
             class="columns">
          <div class="user-chat is-3 is-marginless">
            <div class="image is-32x32">
              <img ng-src="{{ user.getAvatar(30,30)}}" alt="Image">
            </div>
          </div>
          <div class="column is-9">
            <p class="user-title" ng-click="mention(user.username)">
              <a href="#">
                <strong>{{ user.username }}</strong>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
