<div>
  <strong>
    <small class="pull-right margin-top-10">
      <i class="fa fa-clock-o font-small"></i> {{ article.getDateFrom() }}
    </small>
  </strong>
  <a ui-sref="albumView({ articleId: article._id })">
    <div class="blog-title ellipsis">{{article.title}}</div>
  </a>

  <article class="media margin-top-10">
    <div class="media-content">
      <div class="blog-album">
        <span ng-repeat="photo in article.photoList | limitTo:6">
          <a ng-href="{{ photo.filepath }}" class="lightbox-trigger" title="{{ photo.name }}" lightbox index="{{$index}}">
            <img ng-src="{{ photo.filepath }}?dim=80x80"/>
          </a>
        </span>
      </div>
    </div>
  </article>

  <article>
    <div class="media-content">
      <div class="content">
        <div>
          <span ng-repeat="category in article.categories" title="{{ category }}" class="tag articleTag">
            {{ category }}
          </span>
          <span ng-if="article.categories.length === 0" class="tag margin-top-10">
            Aucune catégorie associée
          </span>
          <a ui-sref="albumView({ articleId: article._id })" class="pull-right margin-top-10">
            Voir plus
          </a>
        </div>

        <section class="blog-user-section">
          <div class="authorSectionContainer">
            <span class="authorSectionTitle">
              Créé par
            </span>
            <div class="authorContent">
              <span class="user-image">
                <div class="user-image--image">
                  <div>
                    <img ng-src="{{ article.user.getAvatar(40,40) }}" height="40" width="40">
                  </div>
                </div>
              </span>
              <a class="authorContent-name" href="#">
                {{article.user.username}}
              </a>
            </div>
          </div>
          <div class="blogCommentSection">
            <span class="authorSectionTitle">
              Ils ont laissé un commentaire
            </span>
            <div ng-if="article.commentsUser.length > 0" ng-repeat="user in article.commentsUser" class="authorContent">
              <span class="user-image">
                <div class="user-image--image">
                  <div>
                    <img ng-src="{{ user.getAvatar(30,30) }}" height="30" width="30">
                  </div>
                </div>
              </span>
              <a class="authorContent-name" href="#">
                {{user.username}}
              </a>
            </div>
            <div ng-if="article.commentsUser.length === 0" class="margin-top-25">
              <strong>Pas encore de commentaire</strong>
            </div>
          </div>
        </section>
      </div>
    </div>
  </article>
</div>
