<div>
  <strong>
    <small class="pull-right">
      {{ article.getDateFrom() }}
    </small>
  </strong>

  <a ui-sref="videoView({ articleId: article._id })">
    <div class="blog-title ellipsis">
      {{article.title}}
    </div>
  </a>

  <div class="margin-top-10">

    <!-- Include iframe of video -->
    <iframe ng-src="{{ article.getVideoLink() }}"
    ng-if="article.isEmbed"
    width="100%"
    height="auto"
    class="videoTileFrame"
    frameborder="0"
    webkitallowfullscreen="true"
    mozallowfullscreen="true"
    allowfullscreen="true">
  </iframe>

  <!-- OR video uploaded by user -->
  <videogular ng-if="!article.isEmbed" vg-player-ready="onPlayerReady($API)" vg-error="onError($event)">
    <vg-media vg-src="config.sources" vg-tracks="config.tracks" vg-youtube="rel=1;showinfo=1">
    </vg-media>
    <vg-controls>
      <vg-play-pause-button></vg-play-pause-button>
      <vg-time-display>
        {{ currentTime | date:'HH:mm:ss':'+0000' }}
      </vg-time-display>
      <vg-scrub-bar>
        <vg-scrub-bar-current-time>
        </vg-scrub-bar-current-time>
      </vg-scrub-bar>
      <vg-time-display>
        {{ API.totalTime | date:'HH:mm:ss':'+0000' }}
      </vg-time-display>
      <vg-volume>
        <vg-mute-button>
        </vg-mute-button>
        <vg-volume-bar>
        </vg-volume-bar>
      </vg-volume>
      <vg-fullscreen-button>
      </vg-fullscreen-button>
    </vg-controls>
    <vg-overlay-play></vg-overlay-play>
  </videogular>
</div>

<p class="three-line-ellipsis margin-top-20" ng-if="article.description">
  {{article.description}}
</p>

<div class="margin-top-20">
  <a ui-sref="videoView({ articleId: article._id })">
    Voir plus
  </a>
</div>

<article class="media margin-top-20">
  <div class="media-content">
    <div class="content">
      <div>
        <div>
          <span ng-repeat="category in article.categories" title="{{ category }}" class="tag articleTag">
            {{ category }}
          </span>
          <span ng-if="article.categories.length === 0" class="tag margin-top-10">
            Aucune catégorie associée
          </span>
        </div>
      </div>

      <section class="blog-user-section">
        <div class="authorSectionContainer">
          <span class="authorSectionTitle">
            Créé par
          </span>
          <div class="authorContent">
            <span class="user-image">
              <div class="user-image--image">
                <div>
                  <img ng-src="{{ article.user.getAvatar(40,40) }}" height="30" width="30">
                </div>
              </div>
            </span>
            <a class="authorContent-name" href="#">
              {{article.user.username}}
            </a>
          </div>
        </div>
        <div class="blogCommentSection">
          <span class="authorSectionTitle">
            Ils ont laissé un commentaire
          </span>
          <div ng-if="article.commentsUser.length > 0" ng-repeat="user in article.commentsUser" class="authorContent">
            <span class="user-image">
              <div class="user-image--image">
                <div>
                  <img ng-src="{{ user.getAvatar(30,30) }}" height="30" width="30">
                </div>
              </div>
            </span>
            <a class="authorContent-name" href="#">
              {{user.username}}
            </a>
          </div>
          <div ng-if="article.commentsUser.length === 0" class="small-margin-top">
            <strong>Pas encore de commentaire</strong>
          </div>
        </div>
      </section>
    </div>
  </section>
</div>
</article>
</div>
