<div>
  <strong>
    <small class="pull-right">
      <i class="fa fa-clock-o font-small"></i> {{ article.getDateFrom() }}
    </small>
  </strong>

  <a ui-sref="videoView({ articleId: article._id })">
    <div class="blog-title ellipsis">
      {{article.title}}
    </div>
  </a>

  <div class="margin-top-10">
  </div>
</div>

<p class="three-line-ellipsis margin-top-20">
  {{article.content}}
</p>

<article class="media margin-top-20">
  <div class="media-content">
    <div class="content">
      <div>
        <a ui-sref="videoView({ articleId: article._id })" class="margin-top-10">
          Voir le détail
        </a>
      </div>

      <section class="blog-user-section">
        <div class="authorSectionContainer">
          <span class="authorSectionTitle">
            Créé par
          </span>
          <div class="authorContent">
            <span class="user-image">
              <div class="user-image--image">
                <div>
                  <img ng-src="{{ article.user.getAvatar(40,40) }}" height="40" width="40">
                </div>
              </div>
            </span>
            <a class="authorContent-name" href="#">
              {{article.user.username}}
            </a>
          </div>
        </div>
        <div class="blogCommentSection">
          <span class="authorSectionTitle">
            Ils ont laissé un commentaire
          </span>
          <div ng-if="article.commentsUser.length > 0" ng-repeat="user in article.commentsUser" class="authorContent">
            <span class="user-image">
              <div class="user-image--image">
                <div>
                  <img ng-src="{{ user.getAvatar(30,30) }}" height="30" width="30">
                </div>
              </div>
            </span>
            <a class="authorContent-name" href="#">
              {{user.username}}
            </a>
          </div>
          <div ng-if="article.commentsUser.length === 0" class="small-margin-top">
            <strong>Pas encore de commentaire</strong>
          </div>
        </div>
      </section>
    </div>
  </section>
</div>
</article>
</div>
