<div class="container profile margin-top-20">
  <div class="profile-options">
    <div class="tabs is-fullwidth">
      <ul>
        <li class="link is-active">
          <a>
            <span class="icon"><i class="fa fa-vcard"></i></span>
            <span>Editer mon profil</span>
          </a>
        </li>
        <li class="link">
          <a ui-sref="publication">
            <span class="icon"><i class="fa fa-file-text-o"></i></span>
            <span>Voir mes publications</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="container section bottom-50">
    <div class="columns">
      <div class="column is-4">
        <div class="image avatar">
          <img ng-src="{{ user.getAvatar(200,200) }}" alt="Image"/>
          <div class="spacer"></div>
          <div class="button is-primary is-outlined" ngf-select="upload(files)" ng-model="file" ngf-multiple="false" accept="image/*,">
            Changer la photo
          </div>
        </div>
      </div>
      <div class="column is-8">
        <div>
          <h1 class="title">
            Infos du compte
          </h1>
        </div>
        <div class="margin-top-20">
          <label class="label">Nom d'utilisateur</label>
          <p class="control">
            <input class="input"
            type="text"
            placeholder="Nom d'utilisateur"
            ng-model="user.username">
          </p>

          <label class="label">Email</label>
          <p class="control">
            <input class="input"
            type="text"
            placeholder="Email"
            ng-model="user.email">
          </p>

          <label class="label">Le petit mot aux copaings</label>
          <p class="control">
            <textarea class="textarea" type="text" placeholder="Le petit mot aux copaings" ng-model="user.presentation">
            </textarea>
          </p>
        </div>

        <div class="margin-top-20">
          <h1 class="title">
            Changer de mot de passe
          </h1>
        </div>

        <div class="margin-top-20">
          <label class="label">Ancien mot de passe</label>
          <p class="control">
            <input class="input"
            type="password"
            placeholder="●●●●●●●"
            ng-model="user.password">
          </p>

          <label class="label">Nouveau mot de passe</label>
          <p class="control">
            <input class="input"
            type="password"
            placeholder="●●●●●●●"
            ng-model="user.newPassword">
          </p>
        </div>

        <div class="margin-top-20">
          <span class="button is-primary" ng-click="update()">
            Sauvegarder
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
