<div class="container profile bottom-50 margin-top-20">
  <div class="profile-options">
    <div class="tabs is-fullwidth">
      <ul>
        <li class="link">
          <a ui-sref="profile">
            <span class="icon"><i class="fa fa-vcard"></i></span>
            <span>Editer mon profil</span>
          </a>
        </li>
        <li class="link is-active">
          <a>
            <span class="icon"><i class="fa fa-file-text-o"></i></span>
            <span>Voir mes publications</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div deckgrid class="deckgrid deckgrid4 container" source="contents" ng-if="contents.length > 0">
    <div class="card user-profile">
      <header class="card-header">
        <p class="card-header-title ellipsis">
          <span class="tag user-tag">
            {{card.getType()}}
          </span>
        </p>
      </header>
      <div class="card-content">
        <div class="content">
          <p class="two-line-ellipsis">{{card.title}}</p>
        </div>
      </div>
      <footer class="card-footer">
        <a class="card-footer-item" ng-click="mother.updateContent(card)">Modifier</a>
        <a class="card-footer-item" ng-click="mother.removeContent(card)">Supprimer</a>
      </footer>
    </div>
  </div>
</div>
