<aside class="menu">
  <lcs-notification></lcs-notification>

  <h1 class="margin-top-20">
    Les blogs des copains
  </h1>
  <section class="margin-top-20">
    <article class="media" ng-repeat="blog in blogs">
      <div class="media-left">
        <figure class="image is-64">
          <img ng-src="{{blog.image}}" alt="Image">
        </figure>
      </div>
      <div class="media-content ellipsis">
        <div>
          <p class="ellipsis">
            <strong>{{blog.title}}</strong>
          </p>
          <div class="ellipsis">
            <a ng-href="{{blog.href}}" target="_blank">
              {{blog.href}}
            </a>
          </div>
        </div>
      </div>

      <hr ng-if="$index !== blogs.length - 1">
    </article>
  </section>
</aside>
