<section class="top-header" ng-controller="HeaderCtrl" ng-if="currentUser">
  <div class="hero-head">
    <div class="container">
      <nav class="nav">
        <div class="nav-left">
          <!-- Title -->
          <p ui-sref="home" class="title home-title">
            Les coqs soccer
          </p>
        </div>

        <div class="nav-center">
          <!-- Search bar -->
          <input type="text" class="search-query" ng-enter="search()" ng-model="word">
        </div>

        <div class="nav-right nav-menu">

          <!-- Menu items -->
          <a class="nav-item" ui-sref="{{item.link}}" ng-repeat="item in menu" ng-class="{'is-active' : isCurrentPath(item)}">{{item.name}}</a>

          <!-- Chat button -->
          <span class="nav-item">
            <span angular-popover direction="bottom" template-url="app/common/header/popover/chat.html">
              <a class="ng-popover-trigger">
                <span class="icon" ng-class="{'hasMessage' : hasNewMessage}">
                  <i class="fa fa-commenting-o"></i>
                </span>
              </a>
            </span>
          </span>

          <!-- Notification button -->
          <span class="nav-item">
            <span class="notificationContainer" angular-popover direction="bottom" template-url="app/common/header/popover/notification.html" close-on-mouseleave="true">
              <a class="ng-popover-trigger">
                <span class="icon">
                  <i class="fa fa-bell-o"></i>
                </span>
              </a>
            </span>
          </span>

          <!-- Profil button -->
          <span class="nav-item">
            <span angular-popover direction="bottom" template-url="app/common/header/popover/user.html" close-on-mouseleave="true">
              <a class="ng-popover-trigger profilButton">
                <span>
                  <img ng-src="{{ currentUser.getAvatar(40, 40) }}" class="avatar-photo-square avatar-header">
                </span>
              </a>
            </span>
          </span>
        </div>
      </nav>
    </div>
  </div>
</section>
