<section class="top-header" ng-controller="HeaderCtrl" ng-if="currentUser">
  <div class="hero-head">
    <div class="container">
      <nav class="nav">
        <div class="nav-left">
          <p ui-sref="home" class="title home-title">
            Les coqs soccer
          </p>
          <input type="text" id="search-query-nav" class="search-query st-default-search-input aa-input" autocomplete="off" spellcheck="false" dir="auto" style="position: relative; vertical-align: top;">
        </div>

        <div class="nav-right nav-menu">

          <a class="nav-item" ui-sref="{{item.link}}" ng-repeat="item in menu" ng-class="{'is-active' : isCurrentPath(item)}">{{item.name}}</a>

          <span class="nav-item">
            <span angular-popover direction="bottom" template-url="app/common/header/popover/chat.html">
              <a class="ng-popover-trigger chatButton">
                <span class="icon">
                  <i class="fa fa-commenting-o"></i>
                </span>
              </a>
            </span>

            <span angular-popover direction="bottom" template-url="app/common/header/popover/user.html" close-on-mouseleave="true">
              <a class="ng-popover-trigger button profilButton">
                <span>
                  <img ng-src="{{ currentUser.getAvatar(30,30) }}" class="avatar-photo-square avatar-header">
                </span>
              </a>
            </span>
          </span>
        </div>
      </nav>
    </div>
  </div>
</section>
