<nav class="nav has-shadow">
  <div class="container nav-right">
  </div>
</nav>

<div class="container">
  <div class="boards">
    <div class="columns">
      <div class="column is-4 board">
        <div class="box">
          <div class="head">
            <div class="name">Idées </div>
            <div class="count media-number">{{ideas.length}}</div>
              <a class="nav-item is-tab button is-primary pull-right" ui-sref="idea.create">
                <span class="icon is-small">
                  <i class="fa fa-plus"></i>
                </span>
                <span>
                  Ajouter
                </span>
              </a>
          </div>
          <div class="items">
            <div class="idea" ng-repeat="idea in ideas">
              <p>{{ idea.description }}</p>
              <div class="margin-top-10">
                <span class="tag" ng-repeat="categorie in idea.categories">
                  {{ categorie }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
