<div class="container">
  <div class="columns">
    <div class="column is-3">
      <div class="card is-fullwidth">
        <header class="card-header">
        </header>
        <div class="card-content">
          <a class="card-avatar">
            <img ng-src="{{ currentUser.avatar && currentUser.avatar + '?dim=30x30' || 'https://placehold.it/256x256'}}" class="card-avatar-img">
          </a>

          <div class="card-user">
            <div class="card-user-name">
              <a href="#">{{ currentUser.username }}</a>
            </div>
          </div>

          <div class="card-stats">
            <ul class="card-stats-list">
              <li class="card-stats-item">
                <a href="#" title="9.840 Tweet">
                  <span class="card-stats-key">Tweets</span>
                  <span class="card-stats-val">1</span>
                </a>
              </li>
              <li class="card-stats-item">
                <a href="#/following" title="885 Following">
                  <span class="card-stats-key">Following</span>
                  <span class="card-stats-val">0</span>
                </a>
              </li>
              <li class="card-stats-item">
                <a href="#">
                  <span class="card-stats-key">Followers</span>
                  <span class="card-stats-val">0</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-6">
      <div class="box">
        <article class="media">
          <div class="media-content">
            <p class="control">
              <textarea class="textarea" placeholder="Ecrire une connerie aux copaings"></textarea>
            </p>
            <p class="control">
              <button class="button">Poster</button>
            </p>
          </div>
        </article>
        <article class="media" ng-repeat="item in conversation.messages | orderBy:'created'">
          <div class="media-left">
            <figure class="image is-64x64">
              <img src="http://placehold.it/128x128" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>{{ item.user.username || global.user.username }}</strong> <small style="float:right;">31m</small>
                <br>
                {{ item.content }}
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
    <div class="column is-3">
      <div class="box">
        <div ng-repeat="conversation in conversations"
             class="columns">
          <div class="column is-3 is-marginless">
            <div class="image">
              <img src="https://placehold.it/200x200">
            </div>
          </div>
          <div class="column is-9">
            <p class="user-title">
              <a href="#">
                <strong>{{ conversation.username }}</strong>
              </a>
            </p>
            <p class="small-margin-top">
              <a class="button is-light is-small">
                <span class="icon is-small">
                  <i class="fa fa-comment"></i>
                </span>
                <span>
                  Envoyer un message
                </span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
