<section>
  <ul class="menu-list">
    <li>
      <a ng-repeat="content in notifications | orderBy:'-created'" ng-click="content.openLink()">
        <p class="ellipsis">
          <span class="icon-item-type">
            <i class="fa" ng-class="content.getIcon()"></i>
          </span>
          {{content.getDateFrom()}}, <strong>{{content.user.username}} {{content.getFormattedType()}}
          {{content.title || 'un commentaire'}}</strong>
        </p>
      </a>
    </li>
  </ul>
</section>
