<div>
    <div class="notification blog"
    style="padding: 15px 20px !important;"
    ng-repeat="content in notifications | orderBy:'-created'"
    ng-click="content.openLink()">
        <button class="delete"></button>
        <span class="icon-item-type">
            <i class="fa" ng-class="content.getIcon()"></i>
        </span>
        <strong>
            {{content.title || 'un commentaire'}}
        </strong>
        <br>
        <small>
            {{content.getDateFrom()}}, par {{content.user.username}}
        </small>
    </div>
</div>