<article>

  <section class="margin-top-20 bottom-20">
    <!-- Article title -->
    <a ui-sref="article.albumView({ articleId: article._id })">
      <div class="blog-title ellipsis">
        {{article.title}}
      </div>
    </a>

    <!-- Article subtitle -->
    <h2 class="blog-subtitle margin-top-20">
      <i class="fa fa-clock-o font-small icon-action"></i>
      {{ article.getDateFrom() }}
    </h2>
  </section>

  <!-- Article categories -->
  <section class="bottom-10">
    <span ng-repeat="category in article.categories track by $index" title="{{ category }}" class="tag">
      {{ category }}
    </span>
  </section>

  <!-- Album thumbnails -->
  <section class="media bottom-20">
    <div class="media-content">
      <div class="blog-album">
        <span ng-repeat="photo in article.photoList | limitTo:6">
          <a ng-href="{{ photo.filepath }}" class="lightbox-trigger" title="{{ photo.name }}" lightbox index="{{$index}}">
            <img ng-src="{{ photo.filepath }}?dim=80x80"/>
          </a>
        </span>
      </div>
    </div>
  </section>

  <!-- Album description -->
  <section class="media bottom-20 articleContent" ng-if="article.content">
    <div class="media-content">
      <div class="content">
        <div class="content">
          <div class="three-line-ellipsis" ng-bind-html="article.getFormattedContent() | linky:'_blank'">
            {{ article.getFormattedContent() }}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bottom-20">
    <div class="media-content">
      <div class="content">
        <a ui-sref="article.albumView({ articleId: article._id })" class="button is-primary">
          Voir plus
        </a>
      </div>
    </div>
  </section>

  <!-- Album comments -->
  <section class="blog-user-section bottom-20" ng-if="article.commentsUser.length > 0">
    <div class="blogCommentSection">
      <span class="authorSectionTitle">
        Ils ont laissé un commentaire
      </span>
      <div ng-repeat="user in article.commentsUser | limitTo: 5" class="authorContent">
        <span class="user-image">
          <div class="user-image--image">
            <div>
              <img ng-src="{{ user.getAvatar(80,80) }}" height="80" width="80">
            </div>
          </div>
        </span>
        <a class="authorContent-name" href="#">
          {{user.username}}
        </a>
      </div>
    </div>
  </section>
</article>
