<article class="bottom-20">

  <section>
    <a ui-sref="article.standardView({ articleId: article._id })">
      <div class="margin-top-20" ng-if="article.hasPreview">
        <img alt="{{ article.title }}" ng-src="{{ article.getPreview() + '?dim=800x250' }}"/>
      </div>

      <div class="blog-title ellipsis margin-top-10">
        {{article.title}}
      </div>
    </a>
    <h2 class="blog-subtitle margin-top-20">
      <i class="fa fa-clock-o font-small icon-action"></i>
      {{ article.getDateFrom() }}
    </h2>
  </section>

  <section class="margin-top-10">
    <span ng-repeat="category in article.categories track by $index" title="{{ category }}" class="tag articleTag">
      {{ category }}
    </span>
  </section>

  <section class="media margin-top-10 articleContent">
    <div class="media-content">
      <div class="content">
        <div class="three-line-ellipsis" ng-bind-html="article.getFormattedContent() | linky:'_blank'">
          {{ article.getFormattedContent() }}
        </div>
      </div>
    </div>
  </section>

  <section class="blog-user-section margin-top-20" ng-if="article.commentsUser.length > 0">
    <div class="blogCommentSection">
      <span class="authorSectionTitle">
        Ils ont laissé un commentaire
      </span>
      <div ng-repeat="user in article.commentsUser | limitTo: 5" class="authorContent">
        <span class="user-image">
          <div class="user-image--image">
            <div>
              <img ng-src="{{ user.getAvatar(80,80) }}" height="80" width="80">
            </div>
          </div>
        </span>
        <a class="authorContent-name" href="#">
          {{user.username}}
        </a>
      </div>
    </div>
  </section>
</article>
