<article>

  <section class="margin-top-20 bottom-20">
    <div ng-if="article.isYoutubeLink" class="youtube-player" data-id="{{article.getYoutubeLink()}}">
    </div>

    <!-- Include iframe of video -->
    <div class="aspect-ratio" ng-if="article.isEmbed && !article.isYoutubeLink">
      <iframe ng-src="{{ article.getVideoLink() }}" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen="true">
      </iframe>
    </div>

    <!-- OR video uploaded by user -->
    <videogular ng-if="!article.isEmbed">
      <vg-media vg-src="article.sources" vg-youtube="rel=1;showinfo=1">
      </vg-media>
      <vg-controls>
        <vg-play-pause-button></vg-play-pause-button>
        <vg-time-display>
          {{ currentTime | date:'HH:mm:ss':'+0000' }}
        </vg-time-display>
        <vg-scrub-bar>
          <vg-scrub-bar-current-time>
          </vg-scrub-bar-current-time>
        </vg-scrub-bar>
        <vg-time-display>
          {{ API.totalTime | date:'HH:mm:ss':'+0000' }}
        </vg-time-display>
        <vg-volume>
          <vg-mute-button>
          </vg-mute-button>
          <vg-volume-bar>
          </vg-volume-bar>
        </vg-volume>
        <vg-fullscreen-button>
        </vg-fullscreen-button>
      </vg-controls>
      <vg-overlay-play></vg-overlay-play>
    </videogular>
  </section>

  <section>
    <a ui-sref="article.videoView({ articleId: article._id })">
      <div class="blog-title ellipsis">
        {{article.title}}
      </div>
    </a>

    <h2 class="blog-subtitle margin-top-20">
      <i class="fa fa-clock-o font-small icon-action"></i>
      {{ article.getDateFrom() }}
    </h2>
  </section>

  <section class="margin-top-10">
    <span ng-repeat="category in article.categories track by $index" title="{{ category }}" class="tag articleTag">
      {{ category }}
    </span>
  </section>

  <section class="margin-top-10 bottom-20" ng-if="article.description">
    <p class="three-line-ellipsis">
      {{article.description}}
    </p>
  </section>

  <section class="blog-user-section margin-top-20" ng-if="article.commentsUser.length > 0">
    <div class="blogCommentSection">
      <span class="authorSectionTitle">
        Ils ont laissé un commentaire
      </span>
      <div ng-repeat="user in article.commentsUser | limitTo: 5" class="authorContent">
        <span class="user-image">
          <div class="user-image--image">
            <div>
              <img ng-src="{{ user.getAvatar(80,80) }}" height="80" width="80">
            </div>
          </div>
        </span>
        <a class="authorContent-name" href="#">
          {{user.username}}
        </a>
      </div>
    </div>
  </section>
</article>
