<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="button is-primary blog-add" ui-sref="about.create">
        <span class="icon is-small">
          <i class="fa fa-plus"></i>
        </span>
        <span>
          Ajouter
        </span>
      </a>
    </div>
  </div>
</nav>

<div class="container">
  <div class="columns">
    <div class="column is-12">
      <div class="margin-top-20 bottom-20">
        <div class="container">
          <h1 class="section-title">
            <strong>Bugs / Idées d'amélioration</strong>
          </h1>
          <div class="lcsContent masonry margin-top-20">
            <div class="masonry-child" ng-repeat="idea in ideas">
              <div class="blog">
                <p class="margin-top-20">{{ idea.description }}</p>
                <div class="margin-top-20">
                  <div class="count media-number pull-right ideaLike" ng-click="addLike($index)">
                    +{{idea.like}}
                  </div>
                  <span class="tag" ng-repeat="categorie in idea.categories">
                    {{ categorie }}
                  </span>
                </div>
                <section class="blog-user-section margin-top-10">
                  <div class="authorSectionContainer">
                    <span class="authorSectionTitle">
                      Ajouté par
                    </span>
                    <div class="authorContent-idea">
                      <span class="user-image">
                        <div class="user-image--image">
                          <div>
                            <img ng-src="{{ idea.user.getAvatar(40,40) }}" height="40" width="40">
                          </div>
                        </div>
                      </span>
                      <a class="authorContent-name" href="#">
                        {{idea.user.username}}
                      </a>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
