<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-right">
      <a class="nav-item is-tab button is-primary blog-add" ui-sref="agenda.create">
        <span class="icon is-small">
          <i class="fa fa-plus"></i>
        </span>
        <span>
          Ajouter un évènement
        </span>
      </a>
    </div>
  </div>
</nav>

<div class="container">
  <div class="columns margin-top-20">
    <div class="column is-8 box bottom-50 limitedHeight">
      <div class="agenda-container">
        <div class="container margin-top-20" ng-if="events.length === 0">
          <div class="notification">
            Il n'y a aucun évènement à venir.
          </div>
        </div>

        <div ng-if="events.length > 0" class="columns">
          <div class="column is-4">
            <div class="eventDate">
              <div class="eventDay" ng-if="currentEvent.subType !== 'euroMatch'">
                {{ currentEvent.getDay() }}
              </div>
              <div>
                {{ currentEvent.startsAt | date:"dd MMM" }}
              </div>
              <div class="eventYear">
                {{ currentEvent.startsAt | date:"yyyy" }}
              </div>
            </div>
          </div>
          <div class="column is-8">
            <a ui-sref="#">
              <div class="agenda-title ellipsis">{{currentEvent.title}}</div>
            </a>

            <div class="agenda-content">
              {{currentEvent.content}}
              <br>
            </div>

            <div class="content">
              <a class="button is-success" ng-click="isAvailableForEvent()">
                <span class="icon is-small">
                  <i class="fa fa-check"></i>
                </span>
                <span>
                  Je viens
                </span>
              </a>
              <a class="button is-primary" ng-click="isUnavailableForEvent()">
                <span class="icon is-small">
                  <i class="fa fa-remove"></i>
                </span>
                <span>
                  Je peux pas
                </span>
              </a>
            </div>
          </div>
        </div>
        <section class="blog-user-section">
          <div class="agendaUserSection">
            <span class="authorSectionTitle">
              Ils seront de la partie
            </span>
            <div class="authorContent">
              <span class="user-image">
                <div class="user-image--image">
                  <div>
                    <img ng-src="{{ currentEvent.user.getAvatar(30,30) }}" title="{{currentEvent.user.username}}" height="30" width="30">
                  </div>
                </div>
              </span>
              <a class="authorContent-name" href="#">
                {{currentEvent.user.username}}
              </a>
              <br>
              <span class="agenda-author">
                organisateur
              </span>
            </div>
            <div ng-if="currentEvent.guest.length > 0" ng-repeat="user in currentEvent.guest" class="authorContent">
              <span class="user-image">
                <div class="user-image--image">
                  <div>
                    <img ng-src="{{ user.getAvatar(30,30) }}" height="30" width="30" title="{{ user.username }}">
                  </div>
                </div>
              </span>
            </div>
          </div>
        </section>
      </div>
    </div>

    <div class="column is-4 margin-top-20 bottom-50">
      <h1 class="title">
        <strong>Ca arrive juste après</strong>
      </h1>
      <hr>
      <div class="margin-top-20" ng-repeat="userEvent in events" ng-if="events.length > 0 && $index > 0">
        <div class="sidebar-content">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-32x32">
                  <img ng-src="{{ userEvent.user.getAvatar(40,40) }}" alt="Image">
                </figure>
              </div>
              <div class="media-content margin-top-10">
                <p class="title is-5">{{ userEvent.user.username }}</p>
                <p class="subtitle is-6">vous propose</p>
              </div>
              <div class="media-right">
                <div style="color: #ccc;" ng-if="userEvent.subType !== 'euroMatch'">
                  {{ userEvent.startsAt | date:"dd MMM yyyy" }}
                </div>
                <div style="color: #ccc;" ng-if="userEvent.subType === 'euroMatch'">
                  {{ userEvent.startsAt | date:"dd MMM yyyy, à HH:mm" }}
                </div>
              </div>
            </div>

            <a ui-sref="#">
              <div class="blog-title ellipsis">{{userEvent.title}}</div>
            </a>

            <div class="content">
              {{userEvent.content}}
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
