<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item is-tab is-active" ui-sref="euro">
        Euro 2016
      </a>
      <a class="nav-item is-tab">
        Tetris
      </a>
    </div>
  </div>
</nav>

<div class="container">
  <div class="columns">
    <div class="column is-9">
      <!-- Final winner -->
      <div class="bottom-20 winnerContainer blog margin-top-20">
        <div class="margin-top-20">
          <a class="button is-primary pull-right" ui-sref="euro.rules">
            <span>
              Rappel des règles
            </span>
          </a>

          <h2>
            Euro 2016
          </h2>

          <h1 class="section-title">
            <strong>Choix du vainqueur final</strong>
          </h1>

          <div deckgrid class="deckgrid deckgrid6" source="MatchFactory.teams">
            <div class="blog teamSelection" ng-click="mother.selectTeam(card.code)" ng-class="{'active': card.code === mother.currentUser.favoriteEuroTeam}">
              <img ng-src="/assets/euro/flags/{{ card.code }}.png"/>
              <p class="margin-top-10 ellipsis">{{ mother.MatchFactory.getTeamName(card.code) }}</p>
            </div>
          </div>

          <h2>
            Les matchs
          </h2>

          <div class="container margin-top-10">
            <div deckgrid class="deckgrid deckgrid2" source="matchs">
              <div class="match blog">
                <p class="center margin-top-20">
                  <strong>
                    {{ mother.MatchFactory.getFormattedType(card.type)}}
                  </strong>
                </p>
                <h2>
                  {{ card.startsAt | date:"dd MMM yyyy, HH'h'mm" }}
                </h2>

                <div class="columns center margin-top-10">
                  <span class="column is-6">
                    <img ng-src="/assets/euro/flags/{{ card.home }}.png"/>
                    <p class="margin-top-10 ellipsis">{{ mother.MatchFactory.getTeamName(card.home) }}</p>
                    <input ng-model="card.currentBet.homeScore" class="margin-top-20 input center" type="number" min="0" placeholder="0" ng-disabled="!card.isBetAuthorize"/>
                  </span>

                  <span class="column is-6">
                    <img ng-src="/assets/euro/flags/{{ card.away }}.png"/>
                    <p class="margin-top-10 ellipsis">{{ mother.MatchFactory.getTeamName(card.away) }}</p>
                    <input ng-model="card.currentBet.awayScore" class="margin-top-20 input center" type="number" min="0" placeholder="0" ng-disabled="!card.isBetAuthorize"/>
                  </span>
                </div>

                <div class="center bottom-20">
                  <a ng-show="card.hasResults" ui-sref="euro.bets({matchId: card._id})" class="button">
                    Voir la fiche du match
                  </a>

                  <input ng-show="card.isBetAuthorize" value="Mettre à jour le pari" type="button" class="button" ng-click="mother.updateBet(card)"/>

                  <input ng-show="!card.isBetAuthorize && !card.hasResults" value="En attente des résultats" type="button" class="button" disabled />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div></div>

      <div class="column is-3 margin-top-10">
        <div class="margin-top-20">
          <h1 class="section-title">
            <strong>Le top 5</strong>
          </h1>

          <div class="section-title friends">
            <div ng-repeat="user in users | limitTo: 5 " class="columns margin-top-20">
              <span class="media-number">{{$index + 1}}</span>
              <div class="column is-marginless">
                <div class="image friend">
                  <img ng-src="{{ user.getAvatar(40, 40) }}">
                </div>
              </div>
              <div class="column is-9 ellipsis user-title">
                <p class="friendName">
                  <strong>{{ user.username }}</strong>
                  <a class="is-small">
                    <span class="subtitle is-6">
                      ({{user.euroPoints}} points)
                    </span>
                  </a>
                </p>
              </div>
            </div>
            <a ui-sref="rank">
              Voir le classement complet
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
