<nav class="nav has-shadow">
  <div class="container">
  </div>
</nav>

<div class="container">
  <div class="columns">
    <div class="column is-8">
      <div class="margin-top-20">
        <h1 class="section-title">
          <strong>Les blogs des copains</strong>
        </h1>
        <div class="box container bottom-50">
          <div ng-repeat="blog in blogs">
            <article class="media">
              <div class="media-left">
                <figure class="image is-64">
                  <img ng-src="{{blog.image}}" alt="Image">
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>{{blog.title}}</strong> <small>{{blog.subtitle}}</small>
                    <br>
                    <a ng-href="{{blog.href}}" target="_blank">
                      {{blog.href}}
                    </a>
                  </p>
                </div>
              </div>
            </article>
            <hr ng-if="$index !== blogs.length - 1">
          </div>
        </div>
      </div>
    </div>
    <div class="column is-4">
      <div class="margin-top-20">
        <h1 class="section-title">
          <strong>Les archives du site</strong>
        </h1>
        <div>
          <div class="box sidebar-content">
            <div class="card-image">
              <figure class="image">
                <img src="/assets/images/euro/logo-euro-2016.jpg" alt="">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <p class="title is-5">Les paris de l'Euro 2016</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
