<!doctype html>
<html>
  <head>
    <title>App Title</title>
    <meta charset="utf-8"/>
    <meta name="fragment" content="!"/>
    <meta http-equiv="X-UA-Compatible">
    <meta name="description" content="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/dist/style.css">
  </head>
  <body>
    <base href="/">
    <div class="top-menu-container" ng-controller="HeaderCtrl" ng-if="currentUser">
      <div class="container">
        <nav class="nav">
          <div class="nav-left">
            <a class="nav-item" ui-sref="home">
              <h1 class="title mainTitle">
                Les coqs soccer
              </h1>
            </a>
          </div>
          <div class="nav-center">
            <p class="control has-addons searchbox">
              <input type="text"
                     ng-model="searchWord"
                     class="input"
                     placeholder="Rechercher un truc..." />
              <a class="button" ng-click="search()">
                &nbsp; <i class="fa fa-search"></i> &nbsp;
              </a>
            </p>
          </div>
          <div class="nav-right nav-menu">
            <ng-popover
            trigger="popover-trigger-plus"
            popover-class="custom-popover"
            on-open="openCallback()"
            on-close="closeCallback()">
            <nav class="panel user-popover">
              <p class="panel-heading">
                Ajouter quelque chose
              </p>
              <a class="panel-block is-active" ui-sref="profile">
                <span class="panel-icon">
                  <i class="fa fa-th-list"></i>
                </span>
                Un article
              </a>
              <a class="panel-block" href="#">
                <span class="panel-icon">
                  <i class="fa fa-play-circle"></i>
                </span>
                Une vidéo
              </a>
              <a class="panel-block" ng-click="logout()">
                <span class="panel-icon">
                  <i class="fa fa-photo"></i>
                </span>
                Des photos
              </a>
            </nav>
          </ng-popover>
            <a id="popover-trigger-plus" class="ng-popover-trigger nav-item is-tab">
              <i class="fa fa-plus"></i>
              <span class="icon icon-chevron">
                <i class="fa fa-chevron-down font-medium"></i>
              </span>
            </a>
            <ng-popover
            trigger="popover-trigger"
            popover-class="custom-popover"
            on-open="openCallback()"
            on-close="closeCallback()">
            <nav class="panel user-popover">
              <p class="panel-heading">
                Connecté en tant que {{currentUser.username}}
              </p>
              <a class="panel-block is-active" ui-sref="profile">
                <span class="panel-icon">
                  <i class="fa fa-user-circle"></i>
                </span>
                Profile
              </a>
              <a class="panel-block" href="#">
                <span class="panel-icon">
                  <i class="fa fa-wrench"></i>
                </span>
                Paramètres
              </a>
              <a class="panel-block" ng-click="logout()">
                <span class="panel-icon">
                  <i class="fa fa-sign-out"></i>
                </span>
                Déconnexion
              </a>
            </nav>
          </ng-popover>
          <a id="popover-trigger" class="ng-popover-trigger nav-item is-tab">
            <img ng-src="{{ currentUser.avatar && currentUser.avatar + '?dim=30x30' || 'https://placehold.it/256x256'}}" class="avatar-photo-square">
            <span class="icon icon-chevron">
              <i class="fa fa-chevron-down font-medium"></i>
            </span>
          </a>
        </div>
      </nav>
        <nav class="nav">
          <div class="container">
            <div class="nav-left">
              <a ng-repeat="item in menu"
                 ui-sref="{{item.link}}"
                 class="nav-item is-tab"
                 ng-class="{'is-active' : isCurrentPath(item)}">
                {{item.name}}
              </a>
            </div>
          </div>
        </nav>
      </div>
    </div>

    <!-- Angular views -->
    <div class="ui-view-container">
      <div ui-view></div>
    </div>

    <!-- <footer class="footer" ng-if="currentUser">
      <div class="container">
        <div class="has-text-centered">
          <p>
            <strong>Les coqs soccer</strong> par <a href="#">Alexandre ROSE-PIZANT</a>.
            The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
            The website content is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
          </p>
          <p>
            <a class="icon" href="#">
              <i class="fa fa-github"></i>
            </a>
          </p>
        </div>
      </div>
    </footer> -->
    <script src="/dist/script.js"></script>
  </body>
</html>
