<div class="container commentContainer" ng-init="init()">
  <div>
    <span class="authorSectionTitle">
      Les commentaires
    </span>

    <article class="media margin-top-40">
      <div class="media-content bottom-20">
        <p class="control">
          <textarea ng-enter="addComment()" class="textarea textareaChat" placeholder="Ajouter un commentaire..." ng-model="newComment">
          </textarea>
        </p>
      </div>
    </article>

    <article class="media margin-top-20 comment" ng-repeat="comment in object.comments">
      <figure class="media-left">
        <p class="user-image--image rounded">
          <img ng-src="{{ comment.user.getAvatar(40, 40) }}" width="40" height="40">
        </p>
      </figure>

      <div class="media-content">
        <div class="content">
          <p>
            <strong>{{comment.user.username}}</strong>
            <br>
            {{comment.content}}
            <br>
            <small>
              <a ng-click="showReply($event, comment._id)">Répondre</a>
              · {{comment.created | date:dateFormat}}
            </small>
          </p>
        </div>

        <div class="margin-top-20" ng-show="isCurrentComment(comment._id)">
          <div class="media-content">
            <p class="control">
              <textarea ng-enter="addReply($index, comment._id)" class="textarea textareaChat" placeholder="Ajouter un commentaire..." ng-model="replies[comment._id].content">
              </textarea>
            </p>
          </div>
        </div>

        <div ng-repeat="reply in comment.replies | orderBy:'-created'" class="reply">
          <article class="media">
            <figure class="media-left">
              <p class="user-image--image rounded">
                <img ng-src="{{ reply.user.getAvatar(40, 40) }}" width="40" height="40">
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>{{reply.user.username}}</strong>
                  <br>
                  {{reply.content}}
                  <br>
                  <small>{{reply.created | date:dateFormat}}</small>
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </article>
  </div>
</div>
