@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

:root {
  --MainColor: #42b983;
  --AsideColor: #232b2d;
  --BorderColor: #f6f7f7;
  --TitleColor: #6f7b7e;
  --IconColor: #b7c6c9;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

.ui-view-container {
  position: relative;
  min-height: calc(100vh - 100px);
}

[ui-view]:not(.withoutAnim).ng-enter,
[ui-view]:not(.withoutAnim).ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition: all 0.5s ease-in-out;
}

[ui-view]:not(.withoutAnim).ng-enter {
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
  -moz-transform: scale3d(0.5, 0.5, 0.5);
  transform: scale3d(0.5, 0.5, 0.5);
}

[ui-view]:not(.withoutAnim).ng-enter-active {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

[ui-view]:not(.withoutAnim).ng-leave {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

[ui-view]:not(.withoutAnim).ng-leave-active {
  opacity: 0;
  -webkit-transform: translate3d(100px, 0, 0);
  -moz-transform: translate3d(100px, 0, 0);
  transform: translate3d(100px, 0, 0);
}

.ellipsis {
  overflow: hidden;
  box-sizing: border-box;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.two-line-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.three-line-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #545454;
  font-weight: 400;
  font-size: initial;
  max-height: 4.2em;
}

.top-menu-container {
  background-color: #fff;
  margin-bottom: 20px;
}

.top-menu-container nav {
  border-bottom: 1px solid rgba(10, 10, 10, 0.1);
  text-align: left;
}

.searchbox {
  margin-top: 10px;
}

.searchbox input {
  width: 300px !important;
}

.small-margin-top {
  margin-top: 5px;
}

.padding-top-10 {
  padding-top: 10px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-25 {
  margin-top: 25px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-50 {
  margin-top: 50px;
}

.bottom-10 {
  margin-bottom: 20px;
}

.bottom-20 {
  margin-bottom: 20px;
}

.bottom-50 {
  margin-bottom: 50px;
}

.bottom-60 {
  margin-bottom: 60px;
}

.media + .media {
  margin-top: 20px;
  padding-top: 20px;
}

.footer {
  margin-top: 20px;
}

.content {
  display: block;
}

.nav {
  margin-bottom: 1px;
}

.inline-block {
  display: inline-block !important;
}

.videoBlogPostUser {
  position: absolute;
  margin: 5px 15px;
  font-size: larger;
  text-transform: capitalize;
}

.nav.menu {
  background-color: #fff;
  border-bottom: 1px solid #e1e1e1;
  z-index: 1;
}

.nav.menu .nav-item .icon-btn {
  border: 2px solid var(--IconColor);
  border-radius: 90px;
  padding: 5px 7px;
  color: var(--IconColor);
}

.nav.menu .nav-item .icon-btn.thin {
  padding: 5px 8px;
}

.nav.menu .nav-item.is-active .icon-btn {
  color: var(--MainColor);
  border: 2px solid var(--MainColor);
}

.nav.menu .nav-item .icon-btn .fa {
  font-size: 15px;
  line-height: 20px;
  width: 16px;
  color: var(--IconColor);
}

.nav.menu .nav-item.is-active .icon-btn .fa {
  color: var(--MainColor);
}

.mainTitle {
  font-weight: 700 !important;
  padding-top: 25px;
  text-transform: uppercase;
}

.header-item {
  font-size: large;
}

.fix-to-top {
  display: block;
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;
}

.fix-to-top-hide:not(.fix-to-top) {
  display: none;
}

.spacer {
  height: 20px;
  clear: both;
}

.nav-left .searchbox {
  margin-top: 10px;
}

.avatar-photo {
  border-radius: 50px;
}

.font-xlarge {
  font-size: x-large !important;
}

.font-large {
  font-size: large !important;
}

.font-medium {
  font-size: medium !important;
}

.font-small {
  font-size: small !important;
}

.section-title {
  color: #4a4a4a;
  font-size: 20px;
  font-weight: bolder;
  padding: 10px 0;
}

.dashboard-title {
  background: white;
  font-size: 20px;
  padding: 20px 0 0;
}

.trending .trend-title {
  padding-bottom: 10px;
}

.trending .trend-hashtag {
  padding-bottom: 8px;
}

.ng-popover-wrapper {
  position: relative;
  z-index: 2;
  min-width: 190px;
}

.user-popover {
  background: white;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.user-popover {
  background: white;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.user-popover .panel-heading {
  font-size: 18px;
  padding: 10px;
  background: whitesmoke;
}

.avatar-header {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-top: 5px;
}

.search-query {
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  padding: 0 15px 0 30px;
  border: 1px solid #e3e3e3;
  position: relative;
  vertical-align: top;
  color: #2c3e50;
  outline: none;
  border-radius: 15px;
  width: 150px;
  transition: width 0.2s ease;
  background: #fff url(/assets/images/search.png) 8px 5px no-repeat;
  background-size: 20px;
}

.search-query:focus {
  width: 250px;
}

.top-header {
  border-bottom: 1px solid whitesmoke;
}

.profile {
  border: 1px solid whitesmoke;
  margin-top: 20px;
}

.profilButton {
  padding-left: 0;
  border: none;
}

.profile-heading {
  margin: 20px 0;
}

.profile-heading .name {
  border-right: 1px solid #f1f1f1;
  margin: -30px 0;
  padding: 40px 10px 0;
}

.profile-heading .followers,
.profile-heading .following {
  border-right: 1px solid #f1f1f1;
  margin: -30px 0;
  padding: 50px 30px;
}

.profile-heading .following:last-child {
  border-right: 0;
}

.profile-heading .stat-key {
  font-size: 20px;
  font-weight: 200;
}

.profile-heading .stat-val {
  font-size: 35px;
  font-weight: bold;
}

.profile-options .link a {
  padding: 18px;
  font-size: 18px;
}

.profile-options .link .icon {
  font-size: 16px;
  padding-top: 2px;
}

.ideaLike {
  margin-top: -5px;
  cursor: pointer;
  transition: box-shadow 0.2s linear, background 0.2s linear;
}

.ideaLike:hover {
  background: #fff;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.issue {
  padding: 10px;
  width: 100%;
  display: inline-block;
}

.issue>div {
  padding: 10px !important;
  border: 1px solid whitesmoke;
}

.tagline {
  padding: 20px 0;
  font-size: 16px;
  line-height: 1.4;
}

.articleTag {
  margin-top: 10px;
}

.articleTag:not(:first-child) {
  margin-left: 10px;
}

.articleContent {
  overflow: hidden;
}

.avatar {
  text-align: center;
}

.follow {
  float: right;
}

.avatar img {
  border-radius: 50%;
  width: 100%;
  max-width: 100px;
  margin: auto;
}

p.title.is-bold {
  font-weight: bold;
}

.card {
  border-radius: 5px;
}

.card .timestamp {
  float: right;
  color: #bbb;
}

.card-presentation {
  display: block;
  padding: 5px 10px;
  margin: 35px 0 0;
}

.blog {
  padding: 0 20px !important;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  transition: box-shadow 0.2s linear, background 0.2s linear;
}

.blogUser img {
  border-radius: 5px;
  border: 1px solid #f2f2f2;
}

.blogUserDetail img {
  border-radius: 50%;
  border: 3px solid white;
}

.blogUserDetail img:hover {
  border: 3px solid var(--MainColor);
}

.lcsContent {
  padding: 0;
  border: 0;
  border-radius: 5px;
}

.archive {
  padding: 20px;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  transition: box-shadow 0.2s linear, background 0.2s linear;
  cursor: pointer;
}

.blog:hover,
.archive:hover {
  background: #fff;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--MainColor);
}

.eventRight {
  padding: 20px !important;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  cursor: pointer;
}

h2 {
  margin: 0 !important;
  color: #7a7a7a;
  font-size: 30px;
  font-weight: 400;
}

.match h2 {
  margin: 10px 0 !important;
  color: #7a7a7a;
  font-size: 1.7em;
  font-weight: 500;
  text-align: center;
}

.teamSelection {
  padding: 20px !important;
  text-align: center;
  margin-top: 20px;
}

.teamSelection:hover {
  cursor: pointer;
}

.teamSelection.active {
  background: var(--MainColor);
  color: white;
}

.winnerContainer {
  display: -webkit-box;
}

.event-add {
  margin-left: 15px;
  color: black;
}

.voteButtons {
  text-align: right;
}

.vote-add {
  margin-right: 15px;
  color: black;
}

.voteDateLong {
  font-size: 10px;
  font-weight: 700;
  max-width: 70px;
}

.onGoingVote {
  padding: 10px 5px;
}

.is-active .onGoingVote * {
  color: white;
}

.addButton {
  text-align: right;
  margin-bottom: 20px;
}

.addButton a {
  margin-top: 7px;
  display: inline-block;
  color: var(--MainColor);
}

.blog-add {
  margin: 20px 0 0 20px;
}

.blog-title {
  font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
  font-weight: bold;
  line-height: 1.3;
  font-size: 2.5em;
  margin: 0;
  color: black;
  padding-right: 10px;
}

.blog-subtitle {
  color: rgba(56,56,56,0.5);
  font-size: 0.9em;
  letter-spacing: 0.1em;
  margin: 0;
  text-transform: uppercase;
  font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
}

.blog-title-detail {
  font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
  font-weight: bold;
  line-height: 1.3;
  font-size: 2.5em;
  margin: 50px 50px 0;
  text-align: center;
  color: black;
  padding-right: 10px;
  text-transform: uppercase;
}

.blog-subtitle-detail {
  color: rgba(56,56,56,0.5);
  font-size: 0.9em;
  letter-spacing: 0.1em;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
}

.blogContent {
  font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
  line-height: 1.5;
  margin-bottom: 1em;
  color: #383838;
  font-size: 1.25em;
  word-wrap: break-word;
}

.blogCreationTagStandard {
  margin-bottom: 20px;
}

.blogCreationTag .tag {
  margin-right: 5px;
}

.user-article {
  border-radius: 50%;
  display: inline-block;
  width: 40px;
}

.user-article-name {
  vertical-align: bottom;
  display: inline-block;
  height: 35px;
  margin-top: 5px;
  margin-left: 5px;
}

.article-description {
  text-align: justify;
  margin-bottom: 10px !important;
}

.user-title {
  display: flex;
  align-items: center;
}

.idea {
  background-color: white;
  border: 1px solid #f2f2f2;
  display: block;
  padding: 10px;
  margin-bottom: 20px;
}

.chatIcon {
  display: inline-block;
  font-size: 21px;
  height: 40px;
  line-height: 35px;
  text-align: center;
  vertical-align: top;
  width: 40px;
  border: 1px solid #7a7a7a;
  border-radius: 50%;
}

.user-chat {
  margin: 5px;
}

.user-blog {
  display: inline-block;
  margin: 20px 20px 0;
}

.user-title > a > strong,
.user-link {
  color: #3273dc;
}

.close {
  position: absolute !important;
  top: 25px;
  right: 25px;
}

.close-chat {
  position: absolute !important;
  right: 25px;
}

.level {
  padding-right: 20px;
}

.is-light {
  color: #7a7a7a;
}

a.is-current {
  color: black;
  font-weight: bold;
}

.angular-medium-editor {
  outline: none;
}

.medium-editor-content {
  margin-top: 20px;
  min-height: 150px;
}

.medium-editor-action .fa {
  font-size: 18px;
}

.meditor-content {
  padding-left: 20px;
  padding-top: 10px;
  display: inline-block;
}

.meditor-add {
  display: inline-block;
  border-radius: 50% !important;
  padding: 8px;
}

.notificationContainer .angular-popover {
  max-width: 300px;
}

.notification-date {
  font-weight: bold;
}

.ui-notification {
  position: fixed;
  z-index: 9999;
  width: 300px;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  color: #fff;
  background: #337ab7;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.ui-notification.clickable {
  cursor: pointer;
}

.ui-notification.clickable:hover {
  opacity: 0.7;
}

.ui-notification.killed {
  -webkit-transition: opacity ease 1s;
  -o-transition: opacity ease 1s;
  transition: opacity ease 1s;
  opacity: 0;
}

.ui-notification > h3 {
  font-size: 14px;
  font-weight: bold;
  display: block;
  margin: 10px 10px 0;
  padding: 0 0 5px;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.ui-notification a {
  color: #fff;
}

.ui-notification a:hover {
  text-decoration: underline;
}

.ui-notification > .message {
  margin: 10px;
  background: none !important;
}

.ui-notification.warning {
  color: black;
  background: #ffdd57;
}

.ui-notification.error {
  color: #fff;
  background: #ff3860;
}

.ui-notification.success {
  color: #fff;
  background: #23d160;
}

.ui-notification.info {
  color: #fff;
  background: #3273dc;
}

.chat-counter i::before {
  color: #ff3860;
}

.chat-counter i {
  font-style: inherit;
  font-size: large;
  font-weight: 500;
  color: #ff3860;
}

.masonry-child {
  break-inside: avoid;
  margin-bottom: -5px;
}

.lightbox-trigger > img:hover {
  background-color: #e4e9eb;
}

.blog-album img {
  border-radius: 8px;
  padding: 5px 5px 0;
}

.home-user.card-content {
  padding: 0 20px !important;
}

.card-content {
  margin-top: 20px;
}

.home-contents {
  padding: 0 10px;
  text-align: left;
}

.home-title {
  margin: 15px 10px;
  font-weight: 600;
  align-items: center;
  display: flex;
}

.header-center {
  align-items: center;
  display: flex;
}

.card-avatar {
  background-color: #fff;
  border-radius: 6px;
  display: inline-block !important;
  float: left;
  margin: 15px 5px 0 8px;
  max-width: 100%;
  padding: 1px;
}

.card-avatar-img {
  border: 2px solid #fff;
  border-radius: 7px;
  box-sizing: border-box;
  color: #fff;
  height: 72px;
  width: 72px;
}

.user-profile {
  margin-top: 20px;
}

.card-user {
  margin: 20px 0 0;
}

.card-user-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}

.card-user-name a {
  color: inherit !important;
}

.card-stats {
  margin-left: 11px;
  padding: 10px 0;
}

.card-stats-list {
  box-sizing: border-box;
  display: table;
  margin: 0;
  min-width: 100%;
  padding: 0;
  table-layout: auto;
}

ul.card-stats-list {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.card-stats-item {
  display: table-cell;
  padding: 0;
  vertical-align: top;
}

.card-stats-item a:hover {
  text-decoration: none;
}

.card-stats-val {
  display: block;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.15s ease-in-out 0s;
}

.card-stats-key {
  color: #8899a6;
  font-size: 10px;
  letter-spacing: 0.02em;
  overflow: hidden;
  text-transform: uppercase;
  transition: color 0.15s ease-in-out 0s;
}

textarea {
  box-shadow: none !important;
}

.is-mention p {
  color: #ff3860;
}

#live-chat {
  font-size: 12px;
}

.popover-chat {
  width: 380px;
}

#popover-trigger-chat {
  height: 40px;
  width: 40px;
  margin-top: 10px;
  border-radius: 50px;
  color: white;
  background: black;
}

#popover-trigger-chat.active {
  background: #e74c3c;
}

#live-chat header {
  background: #f2f2f2;
  color: black;
  cursor: pointer;
  padding: 10px 20px;
  text-align: left;
  border-radius: 2px 2px 0 0;
}

#live-chat h4 {
  font-size: 18px;
}

#live-chat form {
  padding: 20px;
  border-radius: 0 0 4px 4px;
}

#live-chat i {
  vertical-align: baseline;
  margin-right: 10px;
}

#live-chat i.hasMessage {
  color: #e62727;
}

span.hasMessage {
  background: #e62727;
}

span.hasMessage i {
  color: #fff;
}

.chat-message-counter {
  background: #e62727;
  border: 1px solid #fff;
  border-radius: 50%;
  display: none;
  font-size: 12px;
  font-weight: bold;
  height: 28px;
  left: 0;
  line-height: 28px;
  margin: -15px 0 0 -15px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 28px;
}

.chat-close {
  margin: -5px 0 0;
  background: #aaa;
}

.chat {
  background: #fff;
}

.chat-history {
  height: 400px;
  padding: 0 20px;
  margin-bottom: 20px;
  overflow-y: scroll;
}

.chat-message {
  margin: 8px 0;
  text-align: left;
  color: black;
  max-width: 350px;
}

.chat-message p {
  display: inline-block;
}

.chat-time {
  float: right;
  font-size: 10px;
}

.chat-feedback {
  font-style: italic;
  margin: 0 0 0 80px;
}

.img-chat {
  border-radius: 50%;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.img-chat:not(:first-child) {
  margin-left: -6px;
}

.button.is-loading {
  border: none !important;
}

.progress {
  margin-top: 5px;
  border-radius: 3px !important;
}

.blog-tile-footer {
  margin: 10px 0 10px 10px;
  width: 100%;
}

.blog-user-section {
  border-top: 1px solid #f2f2f2;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.blog-user-section .authorSectionContainer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  height: 100%;
  position: relative;
  padding: 35px 0 0 5px;
}

.blog-category {
  margin: -10px 0 10px;
}

.authorSectionTitle {
  position: absolute;
  top: 20px;
  color: #999;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.6px;
  line-height: 16px;
  text-transform: uppercase;
  min-width: 300px;
}

.authorContent {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-line-pack: center;
  align-content: center;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.authorContent-idea {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-line-pack: center;
  align-content: center;
  margin-right: 20px;
  margin-top: 15px;
}

.authorContent img,
.authorContent-idea img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.authorContent-name {
  font-weight: 700;
  color: #000 !important;
  margin: 10px;
}

.user-vote {
  margin-right: 10px;
  display: inline-block;
}

.voteContent-name {
  font-weight: 700;
  line-height: 40px;
  font-size: 14px;
  color: #000 !important;
  margin: 0;
}

.vote-image img {
  border-radius: 50%;
}

.friend img {
  height: 40px;
  width: 40px;
  max-width: 40px;
  margin-top: -15px;
  border-radius: 50%;
}

.friendName {
  margin-top: -15px;
}

.friends {
  padding: 0;
}

.friends > div {
  margin-left: 0;
}

.blogCommentSection {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  height: 100%;
  position: relative;
  padding: 40px 0 0 0px;
}

.user-tag {
  margin-bottom: 0;
  background-color: #ccc;
}

.tag {
  margin-right: 10px;
  text-transform: uppercase;
  color: black;
}

.tag:hover,
.tag.active {
  background-color: var(--MainColor);
}

.videoTileFrame {
  max-width: 350px;
  height: 200px;
}

.videoDetailFrame {
  height: 300px;
}

/* =====================================================================================
    VOTE
=======================================================================================
*/
.voteContainer {
  text-align: center;
}

.voteEndDate {
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.vote_ended img {
  width: 70%;
  margin-left: 15%;
}

.voteSectionTitle {
  color: #999;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.6px;
  line-height: 16px;
  text-transform: uppercase;
  min-width: 300px;
}

.voteCardContent {
  padding: 0 20px 10px;
}

.voteCircle {
  overflow: hidden;
  cursor: pointer;
  width: 215px;
  height: 215px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  display: inline-block;
}

.mask-a {
  border-radius: 100%;
  position: relative;
  width: 100%;
  height: 100%;
}

.mask-a {
  background: #1b2d41;
  z-index: 10;
}

.mask-a .hand {
  background-position: 0 0;
  height: 260px;
  z-index: 10;
}

.mask-a .hand-1 {
  background-position: -86px -50px;
  height: 204px;
}

.mask-a .hand-1::before {
  background-position: -154px -50px;
  clip: rect(0, 1px, 84px, 0);
  content: "";
  top: 0;
  left: 0;
  width: 16px;
  height: 84px;
  -webkit-transition: clip 300ms ease;
  transition: clip 300ms ease;
}

.mask-a .hand-2 {
  background-position: -173px -49px;
  top: 0;
  left: 0.2em;
  margin-top: 7em;
  width: 57px;
  height: 177px;
  -webkit-transition: -webkit-transform 550ms ease;
  transition: transform 550ms ease;
}

.mask-a .hand-2::before {
  background-position: -232px -49px;
  clip: rect(0, 28px, 111px, 28px);
  content: "";
  top: 0;
  right: 0;
  width: 28px;
  height: 111px;
  -webkit-transition: clip 500ms ease;
  transition: clip 500ms ease;
}

.hand,
.hand-1,
.hand-2 {
  background: url("/assets/images/vote.svg") no-repeat;
  position: absolute;
}

.hand {
  top: 0;
  left: 50%;
  margin-top: 2em;
  margin-left: -47px;
  width: 83px;
  -webkit-transition: all 650ms ease;
  transition: all 650ms ease;
}

.hand-1 {
  top: 0;
  right: 0.2em;
  margin-top: 5.5em;
  width: 66px;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
}

.voteCircle > [class*="mask-"] > .hand:hover,
.voteCircle .mask-a > .hand-1:hover,
.voteCircle .mask-a > .hand-2:hover {
  -webkit-transform: translate3d(0, -3em, 0);
  transform: translate3d(0, -3em, 0);
  -webkit-transition: -webkit-transform 650ms cubic-bezier(0.68, -0.55, 0.265, 1.65);
  transition: transform 650ms cubic-bezier(0.68, -0.55, 0.265, 1.65);
}

/* =====================================================================================
    MASONRY CONFIGURATION
=======================================================================================
*/

.masonry {
  column-count: 3;
  column-gap: 0;
  margin: 20px -10px;
}

.masonry-child {
  break-inside: avoid;
  padding: 10px;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  transform: translateX(0);
}

.masonry-child:first-of-type:last-of-type {
  display: inline-block;
}

.masonry-child a {
  border-bottom: 0 !important;
}

.lightbox-trigger > img:hover {
  background-color: #e4e9eb;
}

.masonry-child img,
.blog-album img {
  border-radius: 8px;
  padding: 5px;
}

figure {
  margin: 0;
}

@media screen and (max-width: 479px){
  .deckgrid2[deckgrid]::before {
    content: '1 .column.column-1-1';
    font-size: 0;
    visibility: hidden;
  }

  .deckgrid .column-1-1 {
    width: 100%;
  }

  .deckgrid3[deckgrid]::before {
    content: '2 .column.column-1-2';
    font-size: 0;
    visibility: hidden;
  }

  .deckgrid4[deckgrid]::before {
    content: '2 .column.column-1-2';
    font-size: 0;
    visibility: hidden;
  }

  .deckgrid6[deckgrid]::before {
    content: '3 .column.column-1-3';
    font-size: 0;
    visibility: hidden;
  }
}

@media screen and (min-width: 480px){
  .deckgrid2[deckgrid]::before {
    content: '2 .column.column-1-2';
    font-size: 0;
    visibility: hidden;
  }

  .deckgrid3[deckgrid]::before {
    content: '3 .column.column-1-3';
    font-size: 0;
    visibility: hidden;
  }

  .deckgrid4[deckgrid]::before {
    content: '4 .column.column-1-4';
    font-size: 0;
    visibility: hidden;
  }

  .deckgrid6[deckgrid]::before {
    content: '6 .column.column-1-6';
    font-size: 0;
    visibility: hidden;
  }
}

.deckgrid {
  width: 100%;
}

.blog-album .deckgrid > div > div {
  margin-top: 0;
}

.deckgrid .column {
  float: left;
}

.deckgrid .column-1-2 {
  width: 50%;
}

.deckgrid .column-1-3 {
  width: 33%;
}

.deckgrid .column-1-4 {
  width: 25%;
}

.deckgrid .column-1-6 {
  width: 16.6667%;
}

.blog-album .column {
  padding: 0;
}

.comment {
  margin-top: 0 !important;
  padding-top: 10px !important;
}

.comment textarea {
  margin-bottom: 20px;
}

.reply {
  padding-bottom: 10px !important;
}

.lcs-comment {
  width: 100%;
}

.commentContainer {
  width: 100%;
}

.commentContainer .authorSectionTitle {
  position: relative;
  top: 15px;
}

.rounded img {
  border-radius: 50%;
}

.icon-chevron {
  font-size: 12px;
}

.icon-item-type i {
  font-size: 12px;
  padding: 5px 2px;
  color: #bbb;
}

.icon-action {
  margin-top: 2px;
}

.icon-action-m {
  margin-top: 4px;
}

.agenda-container {
  margin-bottom: -20px;
}

.limitedHeight {
  height: 100%;
}

.agenda-title {
  font-size: 35px;
  font-weight: 400;
}

.agenda-add {
  margin: 20px 10px;
}

.unavailableUser {
  font-weight: 700;
  line-height: 40px;
  font-size: 14px;
  color: #000 !important;
  margin: 0;
  margin-left: -30px;
}

.icon-action-user {
  color: #e62727;
  position: relative;
  top: -5px;
  right: 38px;
  font-size: -webkit-xxx-large;
}

.center {
  text-align: center;
}

.agendaTag:first-child {
  margin-top: 10px;
}

.agendaTag strong {
  margin-right: 10px;
}

.sideEvent {
  padding: 10px !important;
  background: white;
}

.sideEvent.active {
  background: var(--MainColor) !important;
}

.eventDateSmall .agenda-title {
  font-size: 20px;
}

.agenda-content {
  margin: 10px 0;
  font-size: 1.5em;
}

.agendaGuestUnavailable {
  opacity: 0.6;
}

.agenda-content-small {
  margin: 10px 0;
  font-size: 1em;
}

.agenda-author {
  position: absolute;
  left: 70px;
  top: 80px;
}

.agendaUserSection {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  height: 100%;
  position: relative;
}

.agendaAnswer {
  width: 100%;
}

.agendaSectionTitle {
  color: #999;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.6px;
  line-height: 16px;
  text-transform: uppercase;
  margin-right: 10px;
  margin-top: inherit;
}

.event-timeline hr {
  margin-top: 10px;
}

p.event-item {
  padding: 6px 0 4px;
}

span:not(:last-child) p.event-item {
  border-bottom: 1px solid #f1f1f1;
}

.eventDate {
  padding: 10px 20px;
  font-size: 3em;
  background: var(--MainColor);
  height: 100%;
}

.eventDateSmall {
  padding: 10px;
  text-align: center;
  font-size: 2em;
  background: white;
  color: var(--MainColor);
  border: 1px solid;
}

.eventDay {
  font-size: 25px;
  color: white;
  padding: 0;
}

.eventDay i {
  margin: 10px 10px 0 0;
}

.eventDay strong{
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  padding: 0;
}

.eventDateLong {
  font-size: 25px;
  font-weight: 700;
}

.eventYear {
  font-size: 0.6em;
}

.hero-body {
  padding: 10px 20px;
}

.homeTitle {
  margin-bottom: 0 !important;
  padding: 15px 0 10px;
  border-radius: 4px 4px 0 0;
}

.boards {
  padding: 20px 0;
}

.boards .board .box.is-gray {
  background-color: #f5f5f5;
}

.boards .board .box .items {
  padding: 20px 0;
}

.box .head .name {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  color: #2c2c30;
}

.box .head .count {
  display: inline-block;
  padding-left: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #aaa;
}

.box .head .options {
  display: inline-block;
  float: right;
  padding-top: 7px;
  color: #ccc;
}

.items .box .title {
  font-size: 19px;
}

.items .box .meta img {
  border-radius: 30px;
  margin-right: 10px;
}

.items .box .meta .fa {
  margin: 3px 7px;
  color: #ccc;
}

.items .add-card div {
  color: #aaa;
  font-weight: bold;
  font-size: 16px;
}

/* =====================================================================================
    PAGINATION
=======================================================================================
*/

.pagination li {
  display: block;
  align-items: center;
  background-color: white;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  color: #363636;
  font-size: 14px;
  height: 32px;
  line-height: 24px;
  position: relative;
  cursor: pointer;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
}

.pagination li.active {
  background-color: var(--MainColor);
  border-width: 0;
}

.pagination li.active a {
  color: white;
}

/* =====================================================================================
    COUNTDOWN
=======================================================================================
*/
.time-to {
  text-align: center;
  font-family: Bangers;
  color: white;
  font-size: 35px;
  letter-spacing: 2px;
  background: black;
}

.time-to span {
  display: block;
  font-size: 80px;
  color: red;
}

.marquee {
  width: 100%;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  padding-bottom: 20px;
}

.marquee span {
  display: inline-block;
  animation: marquee 30s linear infinite;
  font-size: 17px;
}

.marquee span:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    text-indent: 27.5em;
  }

  100% {
    text-indent: -105em;
  }
}

.is-64 {
  width: 64px;
}

.sidebar-content {
  background: white;
}

.inputCategory {
  width: inherit;
  height: inherit;
  line-height: inherit;
}

.login > div > div,
.signup > div > div {
  min-width: 400px;
}

.login .section-title,
.signup .section-title {
  padding-left: 20px;
  color: white;
}

.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 51%;
}

.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
}

.youtube-player {
  position: relative;
  padding-bottom: 56.23%;
  /* Use 75% for 4:3 videos */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
}

.youtube-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: transparent;
}

.youtube-player img {
  bottom: 0;
  display: block;
  left: 0;
  margin: auto;
  max-width: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  height: auto;
  cursor: pointer;
  -webkit-transition: .4s all;
  -moz-transition: .4s all;
  transition: .4s all;
}

.youtube-player img:hover {
  -webkit-filter: brightness(75%);
}

.youtube-player .play {
  height: 72px;
  width: 72px;
  left: 50%;
  top: 50%;
  margin-left: -36px;
  margin-top: -36px;
  position: absolute;
  background: url("//i.imgur.com/TxzC70f.png") no-repeat;
  cursor: pointer;
}

.imageLogin {
  margin: auto;
  max-width: 600px;
  display: block;
  margin-bottom: 10px;
}

.match{
  margin: 10px 0 10px;
}

.match:first-child{
  margin-top: 0;
}

.matchDetail {
  max-width: 300px;
  margin: auto;
}

.inputScore {
  width: 50px;
}

.flagScore {
  width: 15px;
  vertical-align: -2px;
}

.modal-euro-rank {
  padding: 0 20px 20px;
}

.header-tablet {
  display: none;
}

@media screen and (max-width: 768px) {
  .header-tablet {
    display: block;
    position: absolute;
    right: 5px;
    top: 5px;
  }

  .is-block-tablet {
    display: none;
  }

  .hero.is-primary .tabs.is-boxed a,
  .hero.is-primary .tabs.is-toggle a {
    font-size: 1em;
    padding: 10px 5px;
  }

  h2 {
    font-size: 20px;
  }

  .columns {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }

  .column:not(.matchTeam) {
    padding: 5px;
  }

  .deckgrid .column.matchTeam {
    float: inherit;
    display: inline-block;
  }

  .blog-title-detail {
    font-size: 1.5em;
    margin: 0;
  }

  .blog {
    padding: 0 10px !important;
  }

  .input,
  .button {
    font-size: 10px;
  }

  .logo {
    max-width: 250px;
  }

  .modal-content, .modal-card {
     margin: 0;
  }

  .medium-editor-content {
    min-height: 60px;
  }

  .textarea {
    min-height: 50px;
  }

  .login > div > div,
  .signup > div > div {
     min-width: 0;
  }

  .mobile-hide {
    display: none;
  }

  .addButton {
    right: 10px !important;
  }
}
