@import "//fonts.googleapis.com/css?family=Bangers";
@import "//fonts.googleapis.com/css?family=Oswald";

:root {
  --MainColor: #e74c3c;
  --AsideColor: #232b2d;
  --BorderColor: #f6f7f7;
  --TitleColor: #6f7b7e;
  --IconColor: #b7c6c9;
}

body {
  font-family: Oswald;
  height: 100%;
}

.ui-view-container {
  position: relative;
}

[ui-view].ng-enter,
[ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition: all 0.5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
  -moz-transform: scale3d(0.5, 0.5, 0.5);
  transform: scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

[ui-view].ng-leave {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
  opacity: 0;
  -webkit-transform: translate3d(100px, 0, 0);
  -moz-transform: translate3d(100px, 0, 0);
  transform: translate3d(100px, 0, 0);
}

.ellipsis {
  overflow: hidden;
  box-sizing: border-box;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.two-line-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.three-line-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #545454;
  font-weight: 400;
  font-size: initial;
}

.top-menu-container {
  background-color: #fff;
  margin-bottom: 20px;
}

.top-menu-container nav {
  border-bottom: 1px solid rgba(10, 10, 10, 0.1);
  text-align: left;
}

.searchbox {
  margin-top: 10px;
}

.searchbox input {
  width: 300px !important;
}

.small-margin-top {
  margin-top: 5px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-40 {
  margin-top: 40px;
}

.bottom-50 {
  margin-bottom: 50px;
}

.bottom-60 {
  margin-bottom: 60px;
}

.media + .media {
  margin-top: 20px;
  padding-top: 20px;
}

.footer {
  margin-top: 20px;
}

.content {
  display: block;
}

.nav {
  margin-bottom: 1px;
}

.inline-block {
  display: inline-block !important;
}

.videoBlogPostUser {
  position: absolute;
  margin: 5px 15px;
  font-size: larger;
  text-transform: capitalize;
}

.nav.menu {
  background-color: #fff;
  border-bottom: 1px solid #e1e1e1;
  z-index: 1;
}

.nav.menu .nav-item .icon-btn {
  border: 2px solid var(--IconColor);
  border-radius: 90px;
  padding: 5px 7px;
  color: var(--IconColor);
}

.nav.menu .nav-item .icon-btn.thin {
  padding: 5px 8px;
}

.nav.menu .nav-item.is-active .icon-btn {
  color: var(--MainColor);
  border: 2px solid var(--MainColor);
}

.nav.menu .nav-item .icon-btn .fa {
  font-size: 15px;
  line-height: 20px;
  width: 16px;
  color: var(--IconColor);
}

.nav.menu .nav-item.is-active .icon-btn .fa {
  color: var(--MainColor);
}

.mainTitle {
  font-weight: 700 !important;
  padding-top: 25px;
  text-transform: uppercase;
}

.spacer {
  height: 20px;
}

.nav-left .searchbox {
  margin-top: 10px;
}

.avatar-photo {
  border-radius: 50px;
}

.font-large {
  font-size: large !important;
}

.font-medium {
  font-size: medium !important;
}

.font-small {
  font-size: small !important;
}

.title {
  margin-top: -10px;
}

.trending .trend-title {
  padding-bottom: 10px;
}

.trending .trend-hashtag {
  padding-bottom: 8px;
}

.ng-popover-wrapper {
  position: relative;
  z-index: 2;
  min-width: 190px;
}

.user-popover {
  background: white;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.user-popover {
  background: white;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.user-popover::before {
  top: -16px;
  right: 15px;
  left: auto;
  border: 8px solid transparent;
  border-bottom-color: #dbdbdb;
  position: absolute;
  display: inline-block;
  content: "";
}

.user-popover::after {
  top: -13px;
  right: 16px;
  left: auto;
  border: 7px solid transparent;
  border-bottom-color: whitesmoke;
  position: absolute;
  display: inline-block;
  content: "";
}

.user-popover .panel-heading {
  font-size: 18px;
  padding: 10px;
  background: whitesmoke;
}

.avatar-header {
  border: 1px solid white;
  height: 39px;
  width: 40px;
}

.profile-heading {
  margin: 20px 0;
  padding-bottom: 60px;
}

.profile-heading .name {
  border-right: 1px solid #f1f1f1;
  margin: -30px 0;
  padding: 40px 30px 0;
}

.profile-heading .followers,
.profile-heading .following {
  border-right: 1px solid #f1f1f1;
  margin: -30px 0;
  padding: 50px 30px;
}

.profile-heading .following:last-child {
  border-right: 0;
}

.profile-heading .stat-key {
  font-size: 20px;
  font-weight: 200;
}

.profile-heading .stat-val {
  font-size: 35px;
  font-weight: bold;
}

.profile-options {
  background-color: #f1f1f1;
  margin: -20px 0 0;
}

.profile-options .link a {
  padding: 18px;
  font-size: 18px;
}

.profile-options .link .icon {
  font-size: 16px;
  padding-top: 2px;
}

.tagline {
  padding: 20px 0;
  font-size: 16px;
  line-height: 1.4;
}

.articleTag {
  margin-top: 10px;
}

.articleTag:not(:first-child) {
  margin-left: 10px;
}

.articleContent {
  overflow: hidden;
}

.avatar {
  float: right;
  margin-top: -10px;
}

.follow {
  float: right;
}

.avatar img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

p.title.is-bold {
  font-weight: bold;
}

.card {
  border-radius: 5px;
}

.card .timestamp {
  float: right;
  color: #bbb;
}

.blog {
  padding: 0 20px !important;
}

.blog h2 {
  margin: 0 !important;
  color: #7a7a7a;
  font-size: 30px;
  font-weight: 400;
}

.blog-add {
  margin: 20px;
}

.blog-title {
  margin-top: 20px;
  font-size: 30px;
  font-weight: 400;
  font-family: Bangers;
}

.blog-title-detail {
  margin: 40px 0 10px;
  width: 100%;
  font-size: 50px;
  text-transform: capitalize;
  font-family: Bangers;
}

.blogCreationTagStandard {
  margin-left: 60px;
}

.blogCreationTag .tag {
  margin-right: 5px;
}

.user-article {
  border-radius: 50%;
  display: inline-block;
  width: 40px;
}

.user-article-name {
  vertical-align: bottom;
  display: inline-block;
  height: 35px;
  margin-top: 5px;
  margin-left: 5px;
}

.article-description {
  text-align: justify;
  margin-bottom: 10px !important;
}

.user-title {
  margin: 10px 0 0;
}

.user-chat {
  margin: 5px;
}

.user-blog {
  display: inline-block;
  margin: 20px 20px 0;
}

.user-title > a > strong,
.user-link {
  color: #3273dc;
}

.close {
  position: absolute !important;
  top: 25px;
  right: 25px;
}

.level {
  padding-right: 20px;
}

.is-light {
  color: #7a7a7a;
}

a.is-current {
  color: black;
  font-weight: bold;
}

.angular-medium-editor {
  outline: none;
}

.medium-editor-content {
  margin-top: 20px;
  min-height: 150px;
}

.medium-editor-action .fa {
  font-size: 18px;
}

.meditor-title {
  padding-left: 60px;
}

.meditor-content {
  padding-left: 60px;
  padding-top: 10px;
}

.meditor-add {
  position: absolute !important;
  border-radius: 50% !important;
  padding: 10px;
  height: 43px;
}

.ui-notification {
  position: fixed;
  z-index: 9999;
  width: 300px;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  color: #fff;
  background: #337ab7;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.ui-notification.clickable {
  cursor: pointer;
}

.ui-notification.clickable:hover {
  opacity: 0.7;
}

.ui-notification.killed {
  -webkit-transition: opacity ease 1s;
  -o-transition: opacity ease 1s;
  transition: opacity ease 1s;
  opacity: 0;
}

.ui-notification > h3 {
  font-size: 14px;
  font-weight: bold;
  display: block;
  margin: 10px 10px 0;
  padding: 0 0 5px;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.ui-notification a {
  color: #fff;
}

.ui-notification a:hover {
  text-decoration: underline;
}

.ui-notification > .message {
  margin: 10px;
  background: none !important;
}

.ui-notification.warning {
  color: black;
  background: #ffdd57;
}

.ui-notification.error {
  color: #fff;
  background: #ff3860;
}

.ui-notification.success {
  color: #fff;
  background: #23d160;
}

.ui-notification.info {
  color: #fff;
  background: #3273dc;
}

.chat-counter i::before {
  color: #ff3860;
}

.chat-counter i {
  font-style: inherit;
  font-size: large;
  font-weight: 500;
  color: #ff3860;
}

.masonry-child {
  break-inside: avoid;
  margin-bottom: -5px;
}

.lightbox-trigger > img:hover {
  background-color: #e4e9eb;
}

.blog-album img {
  border-radius: 8px;
  padding: 5px 5px 0;
}

.home-user.card-content {
  padding: 0 20px !important;
}

.card-avatar {
  background-color: #fff;
  border-radius: 6px;
  display: inline-block !important;
  float: left;
  margin: -30px 5px 0 8px;
  max-width: 100%;
  padding: 1px;
}

.card-avatar-img {
  border: 2px solid #fff;
  border-radius: 7px;
  box-sizing: border-box;
  color: #fff;
  height: 72px;
  width: 72px;
}

.card-user {
  margin: 5px 0 0;
}

.card-user-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}

.card-user-name a {
  color: inherit !important;
}

.card-stats {
  margin-left: 11px;
  padding: 10px 0;
}

.card-stats-list {
  box-sizing: border-box;
  display: table;
  margin: 0;
  min-width: 100%;
  padding: 0;
  table-layout: auto;
}

ul.card-stats-list {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.card-stats-item {
  display: table-cell;
  padding: 0;
  vertical-align: top;
}

.card-stats-item a:hover {
  text-decoration: none;
}

.card-stats-val {
  display: block;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.15s ease-in-out 0s;
}

.card-stats-key {
  color: #8899a6;
  font-size: 10px;
  letter-spacing: 0.02em;
  overflow: hidden;
  text-transform: uppercase;
  transition: color 0.15s ease-in-out 0s;
}

textarea {
  box-shadow: none !important;
}

.textareaChat {
  min-height: 50px !important;
}

.is-mention p {
  color: #ff3860;
}

#live-chat {
  font-size: 12px;
}

.popover-chat {
  width: 380px;
}

#popover-trigger-chat:not(.active) {
  height: 40px;
  width: 40px;
  margin-top: 10px;
  border: 1px solid white !important;
  color: white;
}

#popover-trigger-chat.active {
  background: white;
  color: red;
  height: 40px;
  width: 40px;
  margin-top: 10px;
}

#live-chat header {
  background: #f2f2f2;
  color: black;
  cursor: pointer;
  padding: 10px 20px;
  text-align: left;
}

#live-chat h4 {
  font-size: 18px;
}

#live-chat form {
  padding: 20px;
  background: white;
}

#live-chat section {
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
}

#live-chat i {
  vertical-align: baseline;
  margin-right: 10px;
}

#live-chat i.hasMessage {
  color: #e62727;
}

.chat-message-counter {
  background: #e62727;
  border: 1px solid #fff;
  border-radius: 50%;
  display: none;
  font-size: 12px;
  font-weight: bold;
  height: 28px;
  left: 0;
  line-height: 28px;
  margin: -15px 0 0 -15px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 28px;
}

.chat-close {
  margin: -5px 0 0;
  background: #aaa;
}

.chat {
  background: #fff;
}

.chat-history {
  height: 400px;
  padding: 0 20px;
  overflow-y: scroll;
}

.chat-message {
  margin: 8px 0;
  text-align: left;
  color: black;
}

.chat-message p {
  display: inline-block;
}

.chat-time {
  float: right;
  font-size: 10px;
}

.chat-feedback {
  font-style: italic;
  margin: 0 0 0 80px;
}

.img-chat {
  border-radius: 50%;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.img-chat:not(:first-child) {
  margin-left: -6px;
}

.button.is-loading {
  border: none !important;
}

.progress {
  margin-top: 5px;
  border-radius: 3px !important;
}

.blog-tile-footer {
  margin: 10px 0 10px 10px;
  width: 100%;
}

.blog-user-section {
  margin: 20px 0 0;
  border-top: 1px solid #f2f2f2;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.blog-user-section .authorSectionContainer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  height: 100%;
  position: relative;
  padding: 35px 0 20px 5px;
  border-right: 1px solid #f2f2f2;
}

.authorSectionTitle {
  position: absolute;
  top: 20px;
  color: #999;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.6px;
  line-height: 16px;
  text-transform: uppercase;
  min-width: 300px;
}

.authorContent {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-line-pack: center;
  align-content: center;
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.authorContent img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.authorContent-name {
  font-weight: 700;
  line-height: 30px;
  font-size: 14px;
  color: #000 !important;
  margin: 0;
  margin-left: 10px;
}

.blogCommentSection {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  height: 100%;
  position: relative;
  padding: 35px 0 20px 10px;
}

.user-tag {
  margin-bottom: 0;
  background-color: #ccc;
}

.tag {
  margin-right: 10px;
  text-transform: uppercase;
  color: black;
}

.tag:hover,
.tag.active {
  background-color: var(--MainColor);
}

.videoTileFrame {
  max-width: 350px;
  height: 200px;
}

.videoDetailFrame {
  height: 300px;
}

/* =====================================================================================
    VOTE
=======================================================================================
*/

.voteContainer {
  height: 260px;
  text-align: center;
  background: #f2f2f2;
  padding-top: 0;
  margin-bottom: 60px !important;
}

.voteEndDate {
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.vote_ended img {
  width: 70%;
  margin-left: 15%;
}

.voteSectionTitle {
  color: #999;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.6px;
  line-height: 16px;
  text-transform: uppercase;
  min-width: 300px;
}

.voteCardContent {
  padding: 0 20px 10px;
}

.voteCircle {
  margin-top: 20px;
  cursor: pointer;
  width: 215px;
  height: 215px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  display: inline-block;
}

.mask-a {
  border-radius: 100%;
  position: relative;
  width: 100%;
  height: 100%;
}

.mask-a {
  background: #1b2d41;
  z-index: 10;
}

.mask-a .hand {
  background-position: 0 0;
  height: 260px;
  z-index: 10;
}

.mask-a .hand-1 {
  background-position: -86px -50px;
  height: 204px;
}

.mask-a .hand-1::before {
  background-position: -154px -50px;
  clip: rect(0, 1px, 84px, 0);
  content: "";
  top: 0;
  left: 0;
  width: 16px;
  height: 84px;
  -webkit-transition: clip 300ms ease;
  transition: clip 300ms ease;
}

.mask-a .hand-2 {
  background-position: -173px -49px;
  top: 0;
  left: 0.2em;
  margin-top: 7em;
  width: 57px;
  height: 177px;
  -webkit-transition: -webkit-transform 550ms ease;
  transition: transform 550ms ease;
}

.mask-a .hand-2::before {
  background-position: -232px -49px;
  clip: rect(0, 28px, 111px, 28px);
  content: "";
  top: 0;
  right: 0;
  width: 28px;
  height: 111px;
  -webkit-transition: clip 500ms ease;
  transition: clip 500ms ease;
}

.hand,
.hand-1,
.hand-2 {
  background: url("/assets/images/vote.svg") no-repeat;
  position: absolute;
}

.hand {
  top: 0;
  left: 50%;
  margin-top: 2em;
  margin-left: -47px;
  width: 83px;
  -webkit-transition: all 650ms ease;
  transition: all 650ms ease;
}

.hand-1 {
  top: 0;
  right: 0.2em;
  margin-top: 5.5em;
  width: 66px;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
}

.voteCircle > [class*="mask-"] > .hand:hover,
.voteCircle .mask-a > .hand-1:hover,
.voteCircle .mask-a > .hand-2:hover {
  -webkit-transform: translate3d(0, -3em, 0);
  transform: translate3d(0, -3em, 0);
  -webkit-transition: -webkit-transform 650ms cubic-bezier(0.68, -0.55, 0.265, 1.65);
  transition: transform 650ms cubic-bezier(0.68, -0.55, 0.265, 1.65);
}

/* =====================================================================================
    MASONRY CONFIGURATION
=======================================================================================
*/

.masonry {
  column-count: 3;
  column-gap: 0;
  margin: 20px -10px;
}

.masonry-child {
  break-inside: avoid;
  padding: 10px;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  transform: translateX(0);
}

.masonry-child:first-of-type:last-of-type {
  display: inline-block;
}

.masonry-child a {
  border-bottom: 0 !important;
}

.lightbox-trigger > img:hover {
  background-color: #e4e9eb;
}

.masonry-child img,
.blog-album img {
  border-radius: 8px;
  padding: 5px;
}

figure {
  margin: 0;
}

.deckgrid[deckgrid]::before {
  content: '4 .column.column-1-4';
  font-size: 0;
  visibility: hidden;
}

.deckgrid {
  margin: -10px;
}

.blog-album .deckgrid > div > div {
  margin-top: 0;
}

.deckgrid > div > div {
  margin-top: 20px;
}

.deckgrid .column {
  float: left;
}

.deckgrid .column-1-4 {
  width: 25%;
}

.blog-album .column {
  padding: 0;
}

.comment {
  margin-top: 0 !important;
  padding-top: 10px !important;
}

.comment textarea {
  margin-bottom: 20px;
}

.reply {
  padding-bottom: 10px !important;
}

.lcs-comment {
  width: 100%;
}

.commentContainer {
  padding: 0 20px;
  width: 100%;
}

.commentContainer .authorSectionTitle {
  position: relative;
  top: 7px;
}

.rounded img {
  border-radius: 50%;
}

.icon-chevron {
  font-size: 12px;
}

.icon-item-type i {
  font-size: 12px;
  padding: 6px 15px;
  color: #bbb;
}

.agenda-container {
  margin-bottom: -20px;
}

.limitedHeight {
  height: 100%;
}

.agenda-title {
  font-size: 50px;
  font-weight: 400;
}

.agenda-content {
  margin: 20px 0;
  font-size: 1.5em;
}

.agenda-author {
  position: absolute;
  left: 70px;
  top: 70px;
}

.agendaUserSection {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  height: 100%;
  position: relative;
  padding: 35px 0 20px 20px;
}

.event-timeline hr {
  margin-top: 10px;
}

p.event-item {
  padding: 6px 10px 4px;
  border-bottom: 1px solid #f1f1f1;
}

.eventDate {
  padding: 10px;
  text-align: center;
  font-size: 3em;
}

.eventDay {
  font-family: Bangers;
  background: #ccc;
}

.eventYear {
  font-size: 0.6em;
  color: #ccc;
}

.hero-body {
  padding: 40px 20px;
}

.homeTitle {
  margin-bottom: 0 !important;
  padding: 15px 0 10px;
  border-radius: 4px 4px 0 0;
}

.boards {
  padding: 20px 0;
}

.boards .board .box.is-gray {
  background-color: #f5f5f5;
}

.boards .board .box .items {
  padding: 20px 0;
}

.box .head .name {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  color: #2c2c30;
}

.box .head .count {
  display: inline-block;
  padding-left: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #aaa;
}

.box .head .options {
  display: inline-block;
  float: right;
  padding-top: 7px;
  color: #ccc;
}

.items .box .title {
  font-size: 19px;
}

.items .box .meta img {
  border-radius: 30px;
  margin-right: 10px;
}

.items .box .meta .fa {
  margin: 3px 7px;
  color: #ccc;
}

.items .add-card div {
  color: #aaa;
  font-weight: bold;
  font-size: 16px;
}

.hero.is-primary a.nav-item,
.hero.is-primary .nav-item a:not(.button) {
  color: #fff;
}

/* =====================================================================================
    PAGINATION
=======================================================================================
*/

.pagination li {
  display: block;
  align-items: center;
  background-color: white;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  color: #363636;
  font-size: 14px;
  height: 32px;
  line-height: 24px;
  position: relative;
  cursor: pointer;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
}

.pagination li.active {
  background-color: var(--MainColor);
  border-width: 0;
}

.pagination li.active a {
  color: white;
}

/* =====================================================================================
    COUNTDOWN
=======================================================================================
*/
.time-to {
  text-align: center;
  font-family: Bangers;
  color: white;
  font-size: 35px;
  letter-spacing: 2px;
  background: black;
}

.time-to span {
  display: block;
  font-size: 80px;
  color: red;
}

.marquee {
  width: 100%;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  padding-bottom: 20px;
}

.marquee span {
  display: inline-block;
  animation: marquee 30s linear infinite;
}

.marquee span:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    text-indent: 27.5em;
  }

  100% {
    text-indent: -105em;
  }
}

.is-64 {
  width: 64px;
}

.sidebar-content {
  background: white;
}

/* Christmas */
.header-item:last-child a {
  background-color: black;
  color: white;
}

.inputCategory {
  width: inherit;
  height: inherit;
  line-height: inherit;
}

/* =====================================================================================
    SNOW
=======================================================================================
*/

/*#snow {
  background: none;
  font-family: Androgyne;
  background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-animation: snow 10s linear infinite;
  -moz-animation: snow 10s linear infinite;
  -ms-animation: snow 10s linear infinite;
  animation: snow 10s linear infinite;
}

@keyframes snow {
  0% {
    background-position: 0 0, 0 0, 0 0;
  }

  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px;
  }

  100% {
    background-position: 500px 1000px, 200px 400px, -100px 300px;
  }
}

@-moz-keyframes snow {
  0% {
    background-position: 0 0, 0 0, 0 0;
  }

  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px;
  }

  100% {
    background-position: 400px 1000px, 200px 400px, 100px 300px;
  }
}

@-webkit-keyframes snow {
  0% {
    background-position: 0 0, 0 0, 0 0;
  }

  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px;
  }

  100% {
    background-position: 500px 1000px, 200px 400px, -100px 300px;
  }
}

@-ms-keyframes snow {
  0% {
    background-position: 0 0, 0 0, 0 0;
  }

  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px;
  }

  100% {
    background-position: 500px 1000px, 200px 400px, -100px 300px;
  }
}*/

.top-header {
  background: #333 !important;
}
